![](https://miro.medium.com/v2/resize:fit:720/format:webp/1*3GbLagVDPY9QKjjgB_Tfqw.png)

## Pandas Serileri ve Veri Çerçeveleri

1. **Pandas Nedir?**
   - Pandas'ın tanımı
   - Pandas'ın kullanım alanları
   
2. **Veri Yapıları**

  - **Pandas Serileri**
     - Seri nedir?
     - Seri oluşturma
       - Listelerden seri oluşturma
       - NumPy dizilerinden seri oluşturma
     - Seri İndeksleme ve Dilimleme
     - Seri Özellikleri ve Metodları
       - `head()` ve `tail()`
       - `describe()`
       - `value_counts()`
       - `unique()`
   
  - **Pandas Veri Çerçeveleri**
     - Veri çerçevesi nedir?
     - Veri çerçevesi oluşturma
       - Sözlükten veri çerçevesi oluşturma
       - NumPy dizisinden veri çerçevesi oluşturma
     - Veri Çerçevesi İndeksleme ve Dilimleme
     - Veri Çerçevesi Özellikleri ve Metodları
       - `info()`
       - `head()` ve `tail()`
       - `describe()`
       - `shape`
       - `columns`
       - `index`

3. **Veri Okuma ve Yazma**
   - CSV dosyalarından veri okuma
   - Excel dosyalarından veri okuma
   - Veri çerçevesini CSV ve Excel formatlarında kaydetme

4. **Veri Kontrolü**

   - İlk ve Son Gözlemleri Görüntüleme
   - Satır ve Sütun Sayısı Bilgisi Alma: shape
   - Veri Seti Hakkında Detaylı Bilgi Alma: info()
   - Sütun ve Satır Gösterimi Ayarları: pd.set_option()

5. **Satır ve Sütunlara Erişme**

   - **Sütunlara Erişme**
     - Tekil Erişim
     - Çoklu Erişim

   - **Satırlara Erişme: iloc ve loc**
     - iloc()
     - loc()

5. **Veri İşleme ve Temizleme**
   - Eksik verilerle başa çıkma
     - `isnull()` ve `notnull()`
     - `dropna()`
     - `fillna()`
   - Veri türü dönüşümleri
   - Veri çerçevesinde tekrar eden değerleri kaldırma
   - Sütun ve satır ekleme, silme ve güncelleme

6. **Veri Görselleştirme**
   - Veri çerçevesi görselleştirme
     - `plot()`
     - `hist()`
     - `boxplot()`
   - Grafiklerin özelleştirilmesi

7. **Veri Analizi**
   - Temel istatistiksel hesaplamalar
     - `mean()`, `median()`, `std()`, `min()`, `max()`, `sum()`
   - Gruplama ve toplulaştırma
     - `groupby()`
   - Veri sıralama
     - `sort_values()`
     - `sort_index()`

8. **Veri Birleştirme ve Birleştirme**
   - Veri birleştirme
     - `concat()`
     - `merge()`
   - Veri çerçeveleri arası birleştirme
     - `join()`

9. **Zaman Serisi Verileri**
   - Tarih ve saat veri türleri
   - Zaman serisi oluşturma
   - Zaman serileri üzerinde işlemler
     - Filtreleme, örnekleme, kaydırma

10. **Pandas İleri Seviye Kavramlar**
    - İleri seviye indeksleme ve seçme
    - Pandas'ın hızlandırılması ve performans optimizasyonu
    - Büyük veri kümeleri ile çalışma

Bu başlıklar altında Pandas'ın temellerinden başlayarak ileri seviye kavramlara kadar geniş bir yelpazede bilgi edinebilirsiniz. Her bir başlık altında örneklerle detaylı bir şekilde konuları ele alacağız.

## **Pandas Temelleri**

## **1) Kurulum**

Pandas'ı yüklemek için `pip` veya `conda` kullanabiliriz. Bu kurulumlar, Python ortamınıza pandas kütüphanesini ekler.

### **Pip Kullanarak Kurulum:**

Pip, Python paketlerinin yönetiminde sıkça kullanılan bir araçtır. Aşağıdaki komutu kullanarak pandas'ı pip aracılığıyla kurabilirsiniz:

```bash
pip install pandas
```

### **Conda Kullanarak Kurulum:**

Conda, Anaconda veya Miniconda gibi dağıtımlarla birlikte gelen bir paket yöneticisidir. Aşağıdaki komutu kullanarak pandas'ı conda aracılığıyla kurabilirsiniz:

```bash
conda install pandas
```

Bu komutlar, pandas kütüphanesinin en son sürümünü indirir ve yükler.

---

In [68]:
import pandas as pd

## **2) Pandas Veri Yapıları**

Pandas kütüphanesi iki ana veri yapısı sunar: Seriler (Series) ve Veri Çerçeveleri (DataFrames).
Bu seri, indekslerle (varsayılan olarak 0'dan başlar) etiketlenmiş değerler içerir.

### **2.1 Seriler (Series):**

* Pandas'ta Series veri yapısı, tek boyutlu, indekslenmiş ve değiştirilemeyen (immutable) veri dizilerini temsil eder. Her bir eleman, bir indeksle ilişkilendirilmiştir. Örneğin Bu seri, indekslerle (varsayılan olarak 0'dan başlar) etiketlenmiş değerler içerir:

**Pandas Series Yapısı Özellikleri:**

1) **Tek Boyutlu Veri Yapısı:** Pandas Series, yalnızca tek bir boyutta veri saklar.

2) **Indekslenmiş Veriler:** Her eleman, bir indeksle eşleştirilmiştir. Önceden tanımlı veya özel bir indeks kullanılabilir.

3) **Homojen Veri Tipleri:** Series, herhangi bir veri tipinde veri saklayabilir. Örneğin, tam sayılar, kayan nokta sayıları, dizeler veya diğer Python veri tipleri olabilir.

4) **Değiştirilemeyen (Immutable):** Bir Series oluşturulduktan sonra, içeriği değiştirilemez. Ancak yeni bir Series oluşturularak değişiklik yapılabilir.

In [69]:
seri = pd.Series([10, 20, 30, 40, 50])
print(seri)

0    10
1    20
2    30
3    40
4    50
dtype: int64

**Pandas Series Yapısı Özellikleri:**

1) **Tek Boyutlu Veri Yapısı:** Pandas Series, yalnızca tek bir boyutta veri saklar.

2) **Indekslenmiş Veriler:** Her eleman, bir indeksle eşleştirilmiştir. Önceden tanımlı veya özel bir indeks kullanılabilir.

3) **Homojen Veri Tipleri:** Series, herhangi bir veri tipinde veri saklayabilir. Örneğin, tam sayılar, kayan nokta sayıları, dizeler veya diğer Python veri tipleri olabilir.

4) **Değiştirilemeyen (Immutable):** Bir Series oluşturulduktan sonra, içeriği değiştirilemez. Ancak yeni bir Series oluşturularak değişiklik yapılabilir.

#### **2.1.1 Seri Oluşturma**

* Pandas serileri, çeşitli veri tiplerinden oluşturulabilir.

##### **Listelerden Seri Oluşturma**

In [70]:
import pandas as pd

data = [1, 2, 3, 4, 5]
seri = pd.Series(data)
print(seri)

0    1
1    2
2    3
3    4
4    5
dtype: int64

##### **NumPy Dizilerinden Seri Oluşturma**

In [71]:
import pandas as pd
import numpy as np

data = np.array([1, 2, 3, 4, 5])
seri = pd.Series(data)
print(seri)

0    1
1    2
2    3
3    4
4    5
dtype: int32

#### **2.1.2 Seri İndeksleme ve Dilimleme**

* Pandas serileri, indeksleme ve dilimleme işlemleri için kullanılabilir.

In [72]:
print(seri[0], "\n")  # İlk eleman
print(seri[1:3], "\n")  # 1. ve 2. elemanlar

# Dilimleme
print(seri[:3], "\n")  # İlk 3 eleman
print(seri[-2:], "\n")  # Son 2 eleman

1

1    2
2    3
dtype: int32

0    1
1    2
2    3
dtype: int32

3    4
4    5
dtype: int32

#### **2.1.3 Seri Özellikleri ve Metodları**

* Pandas serileri, çeşitli özelliklere ve metodlara sahiptir.

In [73]:
# Serinin boyutu
print(seri.size, "\n")

# Serinin indeksleri
print(seri.index, "\n")

# Serinin değerleri
print(seri.values, "\n")

# Serinin istatistiksel özetleri
print(seri.describe(), "\n")

5

RangeIndex(start=0, stop=5, step=1)

[1 2 3 4 5]

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

### **2.2 DataFrames (Veri Çerçeveleri):**

* DataFrame, Pandas kütüphanesindeki temel veri yapısıdır ve tablo benzeri bir iki boyutlu veri yapısını temsil eder. Veriler, farklı veri tipleri içerebilen sütunlar halinde düzenlenmiştir. DataFrame, verileri etiketli bir şekilde saklamak, işlemek ve analiz etmek için kullanılır. Pandas, Python'da veri analizi ve manipülasyonu için oldukça popüler bir kütüphanedir ve DataFrame, Pandas'ın bu popülerliğinde önemli bir rol oynamaktadır.

DataFrame'in temel özellikleri şunlardır:

1) **İki Boyutlu Yapı:** DataFrame, satırlar ve sütunlar şeklinde iki boyutlu bir yapıya sahiptir. Satırlar genellikle gözlemleri (örnekleri) temsil ederken, sütunlar değişkenleri (özellikleri) temsil eder.

2) **İndeksleme:** DataFrame'in satırları, indeks adı verilen bir etiketle belirlenir. Bu indeks, her bir gözlemin benzersiz bir tanımlayıcısını sağlar.

3) **Farklı Veri Tipleri:** Her bir sütun farklı veri tiplerini içerebilir. Örneğin, bir sütun sayısal değerleri içerebilirken, diğer bir sütun metinsel değerleri içerebilir.

4) **Esnek Boyutlar:** DataFrame'ler, değişken sayısını ve gözlem sayısını dinamik olarak yönetebilir. Yani, DataFrame boyutları veri ekledikçe veya çıkardıkça otomatik olarak genişleyebilir veya küçülebilir.

5) **Veri Manipülasyonu:** Pandas DataFrame, veri analizi, filtreleme, gruplama, birleştirme ve dönüşüm gibi çeşitli işlemleri kolayca gerçekleştirmenizi sağlayan geniş bir metod koleksiyonuna sahiptir.

---

#### **2.2.1 Veri Çerçevesi Oluşturma**

* Pandas veri çerçeveleri, farklı veri kaynaklarından oluşturulabilir.

##### **Sözlükten DAtaFrame Oluşturma**

In [74]:
import pandas as pd

data = {'Name': ['John', 'Anna', 'Peter', 'Linda'],
        'Age': [28, 25, 32, 35]}
df = pd.DataFrame(data)
print(df)

    Name  Age
0   John   28
1   Anna   25
2  Peter   32
3  Linda   35

##### **NumPy Dizisinden DataFrame Oluşturma**

In [75]:
import pandas as pd
import numpy as np

data = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
df = pd.DataFrame(data, columns=['A', 'B', 'C'])
print(df)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

#### **2.2.2 DataFrame İndeksleme ve Dilimleme**

* Veri çerçeveleri, satırları ve sütunları indekslemek ve dilimlemek için kullanılabilir.

In [76]:
import pandas as pd

# Örnek bir veri listesi
data = {'Name': ['Ahmet', 'Ayşe', 'Mehmet', 'Fatma', 'Ali']}

# DataFrame oluşturma
df = pd.DataFrame(data)

# DataFrame'i görüntüleme
print(df, "\n")


# Sütun seçme
print(df['Name'], "\n")

# Satır seçme
print(df.loc[0], "\n")

# Belirli bir hücreye erişme
print(df.at[0, 'Name'], "\n")

# Dilimleme
print(df.iloc[1:3, :])

     Name
0   Ahmet
1    Ayşe
2  Mehmet
3   Fatma
4     Ali

0     Ahmet
1      Ayşe
2    Mehmet
3     Fatma
4       Ali
Name: Name, dtype: object

Name    Ahmet
Name: 0, dtype: object

Ahmet

     Name
1    Ayşe
2  Mehmet

#### **2.2.3 DataFrame Özellikleri ve Metodları**

* Pandas veri çerçeveleri, çeşitli özelliklere ve metodlara sahiptir.

In [77]:
# Veri çerçevesinin boyutu
print(df.shape, "\n")

# Veri çerçevesinin indeksleri
print(df.index, "\n")

# Veri çerçevesinin sütunları
print(df.columns, "\n")

# İlk n satırı görüntüleme
print(df.head(), "\n")

# Son n satırı görüntüleme
print(df.tail())

(5, 1)

RangeIndex(start=0, stop=5, step=1)

Index(['Name'], dtype='object')

     Name
0   Ahmet
1    Ayşe
2  Mehmet
3   Fatma
4     Ali

     Name
0   Ahmet
1    Ayşe
2  Mehmet
3   Fatma
4     Ali

In [78]:
# Sözlük üzerinden bir Veri Çerçevesi oluşturma
data = {'Name': ['Ali', 'Veli', 'Ayşe', 'Fatma'],
        'Age': [25, 30, 35, 40],
        'City': ['İstanbul', 'Ankara', 'İzmir', 'Bursa']}

df = pd.DataFrame(data)
print(df)

    Name  Age      City
0    Ali   25  İstanbul
1   Veli   30    Ankara
2   Ayşe   35     İzmir
3  Fatma   40     Bursa

## **3) Veri Okuma ve Yazma**

Pandas, çeşitli dosya formatlarından veri yüklemek için kullanılabilir. En yaygın kullanılanlar arasında CSV, Excel, SQL ve JSON bulunur.

---

### **CSV Dosyalarından Veri Okuma**

* CSV (Comma Separated Values - Virgülle Ayrılmış Değerler) dosyaları, tablo biçimindeki verileri depolamak için yaygın olarak kullanılır. Pandas, `read_csv()` fonksiyonuyla CSV dosyalarını okuyabilir.

```python
# CSV dosyasından veri okuma
df = pd.read_csv('veri.csv')
print(df)
```

Burada `veri.csv` dosyası, mevcut çalışma dizininizde bulunmalıdır.

---

### **Excel Dosyalarından Veri Okuma**

* Excel dosyaları, sıkça kullanılan bir veri depolama formatıdır. Pandas, `read_excel()` fonksiyonuyla Excel dosyalarını okuyabilir.

```python
# Excel dosyasından veri okuma
df = pd.read_excel('veri.xlsx', sheet_name='Sheet1')
print(df)
```

Bu komut, 'veri.xlsx' Excel dosyasındaki 'Sheet1' sayfasındaki veriyi okur.

---

In [99]:
import pandas as pd

df = pd.read_excel('C:/Users/Yusuf Altuntaş/Desktop/repolarim/pandas-tutorial/pandas-tutorial/temelozet.xlsx')

### **Veri Çerçevesini CSV ve Excel Formatlarında Kaydetme**

* Pandas, veri çerçevesini CSV ve Excel formatlarında kaydetmek için `to_csv()` ve `to_excel()` metodlarını sağlar.

```python
import pandas as pd

# Veri çerçevesini CSV olarak kaydetme
df.to_csv('veri_yeni.csv', index=False)

# Veri çerçevesini Excel olarak kaydetme
df.to_excel('veri_yeni.xlsx', index=False)
```

---

Şimdi gerçek bir veri seti üzerinde işlemleri yapalım

## **4) Veri Kontrolü**

Veri kontrolü, veri kümesinin yapısını anlamak için önemlidir. Başlangıçta veya sonunda bulunan veri örneklerini görüntülemek için `head()` ve `tail()` fonksiyonları kullanılır.

### **İlk ve Son Gözlemleri Görüntüleme:**

In [80]:
# İlk 5 gözlemi görüntüleme
df.head()

,Kod,Hisse Adı,Sektör,Kapanış(TL),Piyasa Değeri(mn TL),Piyasa Değeri(mn $),Halka AçıklıkOranı (%),Sermaye(mn TL)
0,A1CAP,A1 Capital,Aracı Kurumlar,26.80,3618.0,138.7,25.9,135.0
1,ACSEL,Acıselsan Acıpayam Selüloz,Kimyasal Ürün,84.25,903.3,34.6,51.8,10.7
2,ADEL,Adel Kalemcilik,Kırtasiye,245.00,5788.1,221.8,27.7,23.6
3,ADESE,Adese AVM,Perakande - Ticaret,1.62,1633.0,62.6,92.9,1008.0
4,AEFES,Anadolu Efes,Meşrubat / İçecek,70.85,41950.7,1607.8,32.9,592.1

In [81]:
# Son 5 satırı gösterme
df.tail()

,Kod,Hisse Adı,Sektör,Kapanış(TL),Piyasa Değeri(mn TL),Piyasa Değeri(mn $),Halka AçıklıkOranı (%),Sermaye(mn TL)
504,YYAPI,Yesil Yapi,İnşaat- Taahhüt,2.72,875.0,33.5,72.2,321.7
505,YYLGD,Yayla Agro Gıda,Gıda,31.32,14801.8,567.3,15.0,472.6
506,ZEDUR,Zedur Enerji,Elektrik,49.80,1245.0,47.7,38.6,25.0
507,ZOREN,Zorlu Enerji,Elektrik,3.50,17500.0,670.7,30.0,5000.0
508,ZRGYO,Ziraat GYO,GYO,4.67,21919.2,840.1,18.9,4693.6

### **Satır ve Sütun Sayısı Bilgisi Alma: shape**

`shape` modülünü kullanarak satır ve  sütun sayısı bilgisini elde ederiz.

In [82]:
df.shape

(509, 8)

### **Veri Seti Hakkında Detaylı Bilgi Alma: info()**

Bu metot, veri setinin hakkında bilgileri  döndürmektedir. Bu bilgilere erişim  için
`info()` adını kullanabilirsiniz.

Bu fonksiyon, veri çerçevesindeki her sütunun veri tipini, veri tiplerinin sayısal dağılımını, bellek kullanımını, eksik değerleri ve sütunların ve satırların toplamda kaç olduğu bilgisini gösterir.

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 509 entries, 0 to 508
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Kod                     509 non-null    object
 1   Hisse Adı               509 non-null    object
 2   Sektör                  509 non-null    object
 3   Kapanış(TL)             509 non-null    float64
 4   Piyasa Değeri(mn TL)    509 non-null    float64
 5   Piyasa Değeri(mn $)     509 non-null    float64
 6   Halka AçıklıkOranı (%)  509 non-null    float64
 7   Sermaye(mn TL)          509 non-null    float64
dtypes: float64(5), object(3)
memory usage: 31.9+ KB

### **Sütun ve Satır Gösterimi Ayarları: pd.set_option()**

Bu bölümde, pandas kitaplığında  bulunan `pd.set_option()` işlevinin  nasıl kullanılacağı gösterilecektir.

* df.head() veya df.tail() ile çalıştırdığımızda sütunların eğer sütun sayısı fazla olsaydı sadece bir kısmını görebilirdik. Veri çerçevesindeki sütunların tamamını görmek isteseydik pd.set_option() ile aşağıdaki ayarı yapabilirdik.

```
pd.set_option('display.max_columns', None)
```

None kullanılmasının amacı, display.max_columns seçeneğini sınırlamadan kaldırmaktır.

```
pd.set_option('display.max_columns', 10)
```

* bu kodla sütun sayısını 10 ile sınırlandırırdık.

Aynı şekilde, satır sayısını da aşağıdaki gibi ayarlayabiliriz.

```
pd.set_option('display.max_rows', None)
```

## **Satır ve Sütunlara Erişme**

### **Sütunlara Erişme**

Pandas veri çerçeveleri, farklı sütunlardaki verilere erişmek için çeşitli yöntemler sağlar.

#### **Tekil Erişim**

Son oluşturduğumuz veri çerçevesinden Sektör sütununa erişmek istediğimizi varsayalım.

In [100]:
df["Sektör"]

0           Aracı Kurumlar
1            Kimyasal Ürün
2                Kırtasiye
3      Perakande - Ticaret
4        Meşrubat / İçecek
              ...
504        İnşaat- Taahhüt
505                   Gıda
506               Elektrik
507               Elektrik
508                    GYO
Name: Sektör, Length: 509, dtype: object

* Aynı sütuna ulaşmanın bir başka yolu ise nokta notasyonunu kullanmaktır.

In [101]:
df.Sektör

0           Aracı Kurumlar
1            Kimyasal Ürün
2                Kırtasiye
3      Perakande - Ticaret
4        Meşrubat / İçecek
              ...
504        İnşaat- Taahhüt
505                   Gıda
506               Elektrik
507               Elektrik
508                    GYO
Name: Sektör, Length: 509, dtype: object

Hangi yöntemi tercih etmeliyiz?

* pd_df['Sektör'] ifadesi, DataFrame üzerindeki sütuna doğrudan bir dizi indeksi kullanarak erişim sağlar. Bu yöntem, sütun ismi boşluk veya özel karakterler içerdiğinde veya Python programlama dilinde özel bir kelimeyle çakıştığında daha güvenlidir. Örneğin, eğer sütun ismi sutun ismi veya if gibi bir kelime ise bu ifadeleri kullanarak doğrudan sütuna erişim sağlayabiliriz.

* pd_df.Sektör ifadesi ise, nokta notasyonunu kullanarak sütuna erişim sağlar. Bu ifade daha kısa ve daha okunabilir bir yazım şekli sunar. Ancak bazı durumlarda, sütun ismi boşluk veya özel karakterler içeriyorsa veya Python programlama dilinde özel bir kelimeyle çakışıyorsa hata verebilir.

Daha önce oluşturduğumuz veri çerçevesine sütunlar ekleyip az önce öğrendiklerimizi pekiştirelim.

### **Çoklu Erişim**

Buraya kadar tek bir sütuna erişimi gördük. Birden fazla sütuna erişmek istediğimizde aşağıdaki ifadeyi kullanıyoruz.

In [102]:
df[["Kod", "Hisse Adı"]]

       Kod                   Hisse Adı
0    A1CAP                  A1 Capital
1    ACSEL  Acıselsan Acıpayam Selüloz
2     ADEL             Adel Kalemcilik
3    ADESE                   Adese AVM
4    AEFES                Anadolu Efes
..     ...                         ...
504  YYAPI                  Yesil Yapi
505  YYLGD             Yayla Agro Gıda
506  ZEDUR                Zedur Enerji
507  ZOREN                Zorlu Enerji
508  ZRGYO                  Ziraat GYO

[509 rows x 2 columns]

Yukarıdaki iki duruma dikkat edelim. Birincisi, tek sütuna tek köşeli parantez ([]) ile ulaşırken çoklu sütunlara çift köşeli parantez ([[]]) ile ulaştık. İkincisi, tek sütuna erişirken çıktıyı bir seri olarak alıyorduk ancak çoklu sütunlara erişmek istediğimizde artık bir seri değil bir veri çerçevesi olarak çıktıyı alıyoruz.

Son olarak, sütun isimlerinin tamamını görmek istiyorsak aşağıdaki ifadeyi kullanabiliriz.

In [103]:
df.columns

Index(['Kod', 'Hisse Adı', 'Sektör', 'Kapanış(TL)', 'Piyasa Değeri(mn TL)',
       'Piyasa Değeri(mn $)', 'Halka AçıklıkOranı (%)', 'Sermaye(mn TL)'],
      dtype='object')

## **Satırlara Erişme: iloc ve loc**

### **iloc()**

* iloc, integer location anlamına gelir ve DataFrame veya Series üzerinde konum tabanlı indeksleme yapmamıza olanak tanır. İndeksler sıfırdan başlar ve satır veya sütunları belirlemek için tamsayı indekslerini kullanır. iloc kullanırken satır veya sütunların konumunu belirtmek için köşeli parantez içinde tamsayı indeksleri kullanırız.

İlk satıra erişelim

In [104]:
df.iloc[0]

Kod                                A1CAP
Hisse Adı                     A1 Capital
Sektör                    Aracı Kurumlar
Kapanış(TL)                         26.8
Piyasa Değeri(mn TL)              3618.0
Piyasa Değeri(mn $)                138.7
Halka AçıklıkOranı (%)              25.9
Sermaye(mn TL)                     135.0
Name: 0, dtype: object

Tek bir satıra erişebileceğimiz gibi birden fazla satıra da erişebiliriz. Tıpkı çoklu sütuna erişimde olduğu gibi ilerleyeceğiz.

In [105]:
df.iloc[[0,1]]

,Kod,Hisse Adı,Sektör,Kapanış(TL),Piyasa Değeri(mn TL),Piyasa Değeri(mn $),Halka AçıklıkOranı (%),Sermaye(mn TL)
0,A1CAP,A1 Capital,Aracı Kurumlar,26.80,3618.0,138.7,25.9,135.0
1,ACSEL,Acıselsan Acıpayam Selüloz,Kimyasal Ürün,84.25,903.3,34.6,51.8,10.7

``iloc`` ile sütunlara da erişebiliriz. Örneğin, ilk iki satırın 5. sütununa erişmeye çalışalım.

In [106]:
df.iloc[[0,1],4]

0    3618.0
1     903.3
Name: Piyasa Değeri(mn TL), dtype: float64

Çoklu sütunlara da erişebiliriz. Örneğin, 4. ve 5. sütunlara erişelim.

In [107]:
df.iloc[[0,1], [3,4]]

   Kapanış(TL)  Piyasa Değeri(mn TL)
0        26.80                3618.0
1        84.25                 903.3

### **loc()**

``loc``, label location anlamına gelir ve DataFrame veya Series üzerinde etiket tabanlı indeksleme yapmak için kullanılan bir indeksleme yöntemidir.

İlk satıra erişelim. Burada 0 etiketine sahip satırı getireceğiz.

In [108]:
df.loc[0]

Kod                                A1CAP
Hisse Adı                     A1 Capital
Sektör                    Aracı Kurumlar
Kapanış(TL)                         26.8
Piyasa Değeri(mn TL)              3618.0
Piyasa Değeri(mn $)                138.7
Halka AçıklıkOranı (%)              25.9
Sermaye(mn TL)                     135.0
Name: 0, dtype: object

Tek bir satıra erişebileceğimiz gibi birden fazla satıra da erişebiliriz. Bu defa örnek olarak 0 ve 1 etiketlerine sahip satırları getireceğiz.

In [109]:
df.loc[[0,1]]

,Kod,Hisse Adı,Sektör,Kapanış(TL),Piyasa Değeri(mn TL),Piyasa Değeri(mn $),Halka AçıklıkOranı (%),Sermaye(mn TL)
0,A1CAP,A1 Capital,Aracı Kurumlar,26.80,3618.0,138.7,25.9,135.0
1,ACSEL,Acıselsan Acıpayam Selüloz,Kimyasal Ürün,84.25,903.3,34.6,51.8,10.7

Buraya kadar yaptıklarımız aslında iloc'ta yaptıklarımıza benziyor ancak biz etiket bazlı ilerliyoruz. Son olarak, son sütuna erişelim.

In [110]:
df.loc[[0,1], 'Sermaye(mn TL)']

0    135.0
1     10.7
Name: Sermaye(mn TL), dtype: float64

Çoklu sütunlara da erişebiliriz. Örneğin, aşağıdaki iki sütuna erişelim.

In [111]:
df.loc[[0,1], ['Piyasa Değeri(mn TL)','Piyasa Değeri(mn $)']]

   Piyasa Değeri(mn TL)  Piyasa Değeri(mn $)
0                3618.0                138.7
1                 903.3                 34.6

### **loc()**