## Pandas Serileri ve Veri Çerçeveleri

1. **Pandas Nedir?**
   - Pandas'ın tanımı
   - Pandas'ın kullanım alanları
   
2. **Pandas Serileri**
   - Seri nedir?
   - Seri oluşturma
     - Listelerden seri oluşturma
     - NumPy dizilerinden seri oluşturma
   - Seri İndeksleme ve Dilimleme
   - Seri Özellikleri ve Metodları
     - `head()` ve `tail()`
     - `describe()`
     - `value_counts()`
     - `unique()`
   
3. **Pandas Veri Çerçeveleri**
   - Veri çerçevesi nedir?
   - Veri çerçevesi oluşturma
     - Sözlükten veri çerçevesi oluşturma
     - NumPy dizisinden veri çerçevesi oluşturma
   - Veri Çerçevesi İndeksleme ve Dilimleme
   - Veri Çerçevesi Özellikleri ve Metodları
     - `info()`
     - `head()` ve `tail()`
     - `describe()`
     - `shape`
     - `columns`
     - `index`

4. **Veri Okuma ve Yazma**
   - CSV dosyalarından veri okuma
   - Excel dosyalarından veri okuma
   - Veri çerçevesini CSV ve Excel formatlarında kaydetme

5. **Veri İşleme ve Temizleme**
   - Eksik verilerle başa çıkma
     - `isnull()` ve `notnull()`
     - `dropna()`
     - `fillna()`
   - Veri türü dönüşümleri
   - Veri çerçevesinde tekrar eden değerleri kaldırma
   - Sütun ve satır ekleme, silme ve güncelleme

6. **Veri Görselleştirme**
   - Veri çerçevesi görselleştirme
     - `plot()`
     - `hist()`
     - `boxplot()`
   - Grafiklerin özelleştirilmesi

7. **Veri Analizi**
   - Temel istatistiksel hesaplamalar
     - `mean()`, `median()`, `std()`, `min()`, `max()`, `sum()`
   - Gruplama ve toplulaştırma
     - `groupby()`
   - Veri sıralama
     - `sort_values()`
     - `sort_index()`

8. **Veri Birleştirme ve Birleştirme**
   - Veri birleştirme
     - `concat()`
     - `merge()`
   - Veri çerçeveleri arası birleştirme
     - `join()`

9. **Zaman Serisi Verileri**
   - Tarih ve saat veri türleri
   - Zaman serisi oluşturma
   - Zaman serileri üzerinde işlemler
     - Filtreleme, örnekleme, kaydırma

10. **Pandas İleri Seviye Kavramlar**
    - İleri seviye indeksleme ve seçme
    - Pandas'ın hızlandırılması ve performans optimizasyonu
    - Büyük veri kümeleri ile çalışma

Bu başlıklar altında Pandas'ın temellerinden başlayarak ileri seviye kavramlara kadar geniş bir yelpazede bilgi edinebilirsiniz. Her bir başlık altında örneklerle detaylı bir şekilde konuları ele alacağız.

## **Pandas Temelleri**

## **1) Kurulum**

Pandas'ı yüklemek için `pip` veya `conda` kullanabiliriz. Bu kurulumlar, Python ortamınıza pandas kütüphanesini ekler.

### **Pip Kullanarak Kurulum:**

Pip, Python paketlerinin yönetiminde sıkça kullanılan bir araçtır. Aşağıdaki komutu kullanarak pandas'ı pip aracılığıyla kurabilirsiniz:

```bash
pip install pandas
```

### **Conda Kullanarak Kurulum:**

Conda, Anaconda veya Miniconda gibi dağıtımlarla birlikte gelen bir paket yöneticisidir. Aşağıdaki komutu kullanarak pandas'ı conda aracılığıyla kurabilirsiniz:

```bash
conda install pandas
```

Bu komutlar, pandas kütüphanesinin en son sürümünü indirir ve yükler.

---

In [3]:
import pandas as pd

## **2) Pandas Veri Yapıları**

Pandas kütüphanesi iki ana veri yapısı sunar: Seriler (Series) ve Veri Çerçeveleri (DataFrames).
Bu seri, indekslerle (varsayılan olarak 0'dan başlar) etiketlenmiş değerler içerir.

### **2.1 Seriler (Series):**

Pandas'ta Series veri yapısı, tek boyutlu, indekslenmiş ve değiştirilemeyen (immutable) veri dizilerini temsil eder. Her bir eleman, bir indeksle ilişkilendirilmiştir. Örneğin Bu seri, indekslerle (varsayılan olarak 0'dan başlar) etiketlenmiş değerler içerir:

In [4]:
seri = pd.Series([10, 20, 30, 40, 50])
print(seri)

0    10
1    20
2    30
3    40
4    50
dtype: int64

#### **2.1.1 Seri Oluşturma**

* Pandas serileri, çeşitli veri tiplerinden oluşturulabilir.

##### **Listelerden Seri Oluşturma**

In [1]:
import pandas as pd

data = [1, 2, 3, 4, 5]
seri = pd.Series(data)
print(seri)

0    1
1    2
2    3
3    4
4    5
dtype: int64

##### **NumPy Dizilerinden Seri Oluşturma**

In [2]:
import pandas as pd
import numpy as np

data = np.array([1, 2, 3, 4, 5])
seri = pd.Series(data)
print(seri)

0    1
1    2
2    3
3    4
4    5
dtype: int32

#### **2.1.2 Seri İndeksleme ve Dilimleme**

* Pandas serileri, indeksleme ve dilimleme işlemleri için kullanılabilir.

In [4]:
print(seri[0], "\n")  # İlk eleman
print(seri[1:3], "\n")  # 1. ve 2. elemanlar

# Dilimleme
print(seri[:3], "\n")  # İlk 3 eleman
print(seri[-2:], "\n")  # Son 2 eleman

1

1    2
2    3
dtype: int32

0    1
1    2
2    3
dtype: int32

3    4
4    5
dtype: int32

#### **2.1.3 Seri Özellikleri ve Metodları**

* Pandas serileri, çeşitli özelliklere ve metodlara sahiptir.

In [6]:
# Serinin boyutu
print(seri.size, "\n")

# Serinin indeksleri
print(seri.index, "\n")

# Serinin değerleri
print(seri.values, "\n")

# Serinin istatistiksel özetleri
print(seri.describe(), "\n")

5

RangeIndex(start=0, stop=5, step=1)

[1 2 3 4 5]

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

### **2.2 Veri Çerçeveleri (DataFrames):**

* DataFrame, Pandas kütüphanesindeki temel veri yapısıdır ve tablo benzeri bir iki boyutlu veri yapısını temsil eder. Veriler, farklı veri tipleri içerebilen sütunlar halinde düzenlenmiştir. DataFrame, verileri etiketli bir şekilde saklamak, işlemek ve analiz etmek için kullanılır. Pandas, Python'da veri analizi ve manipülasyonu için oldukça popüler bir kütüphanedir ve DataFrame, Pandas'ın bu popülerliğinde önemli bir rol oynamaktadır.

DataFrame'in temel özellikleri şunlardır:

1) **İki Boyutlu Yapı:** DataFrame, satırlar ve sütunlar şeklinde iki boyutlu bir yapıya sahiptir. Satırlar genellikle gözlemleri (örnekleri) temsil ederken, sütunlar değişkenleri (özellikleri) temsil eder.

2) **İndeksleme:** DataFrame'in satırları, indeks adı verilen bir etiketle belirlenir. Bu indeks, her bir gözlemin benzersiz bir tanımlayıcısını sağlar.

3) **Farklı Veri Tipleri:** Her bir sütun farklı veri tiplerini içerebilir. Örneğin, bir sütun sayısal değerleri içerebilirken, diğer bir sütun metinsel değerleri içerebilir.

4) **Esnek Boyutlar:** DataFrame'ler, değişken sayısını ve gözlem sayısını dinamik olarak yönetebilir. Yani, DataFrame boyutları veri ekledikçe veya çıkardıkça otomatik olarak genişleyebilir veya küçülebilir.

5) **Veri Manipülasyonu:** Pandas DataFrame, veri analizi, filtreleme, gruplama, birleştirme ve dönüşüm gibi çeşitli işlemleri kolayca gerçekleştirmenizi sağlayan geniş bir metod koleksiyonuna sahiptir.

---

#### **2.2.1 Veri Çerçevesi Oluşturma**

* Pandas veri çerçeveleri, farklı veri kaynaklarından oluşturulabilir.

##### **Sözlükten Veri Çerçevesi Oluşturma**

In [7]:
import pandas as pd

data = {'Name': ['John', 'Anna', 'Peter', 'Linda'],
        'Age': [28, 25, 32, 35]}
df = pd.DataFrame(data)
print(df)

    Name  Age
0   John   28
1   Anna   25
2  Peter   32
3  Linda   35

##### **NumPy Dizisinden Veri Çerçevesi Oluşturma**

In [8]:
import pandas as pd
import numpy as np

data = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
df = pd.DataFrame(data, columns=['A', 'B', 'C'])
print(df)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

#### **2.2.2 Veri Çerçevesi İndeksleme ve Dilimleme**

* Veri çerçeveleri, satırları ve sütunları indekslemek ve dilimlemek için kullanılabilir.

In [11]:
import pandas as pd

# Örnek bir veri listesi
data = {'Name': ['Ahmet', 'Ayşe', 'Mehmet', 'Fatma', 'Ali']}

# DataFrame oluşturma
df = pd.DataFrame(data)

# DataFrame'i görüntüleme
print(df, "\n")


# Sütun seçme
print(df['Name'], "\n")

# Satır seçme
print(df.loc[0], "\n")

# Belirli bir hücreye erişme
print(df.at[0, 'Name'], "\n")

# Dilimleme
print(df.iloc[1:3, :])

     Name
0   Ahmet
1    Ayşe
2  Mehmet
3   Fatma
4     Ali

0     Ahmet
1      Ayşe
2    Mehmet
3     Fatma
4       Ali
Name: Name, dtype: object

Name    Ahmet
Name: 0, dtype: object

Ahmet

     Name
1    Ayşe
2  Mehmet

#### **2.2.3 Veri Çerçevesi Özellikleri ve Metodları**

* Pandas veri çerçeveleri, çeşitli özelliklere ve metodlara sahiptir.

In [13]:
# Veri çerçevesinin boyutu
print(df.shape, "\n")

# Veri çerçevesinin indeksleri
print(df.index, "\n")

# Veri çerçevesinin sütunları
print(df.columns, "\n")

# İlk n satırı görüntüleme
print(df.head(), "\n")

# Son n satırı görüntüleme
print(df.tail())

(5, 1)

RangeIndex(start=0, stop=5, step=1)

Index(['Name'], dtype='object')

     Name
0   Ahmet
1    Ayşe
2  Mehmet
3   Fatma
4     Ali

     Name
0   Ahmet
1    Ayşe
2  Mehmet
3   Fatma
4     Ali

In [5]:
# Sözlük üzerinden bir Veri Çerçevesi oluşturma
data = {'Name': ['Ali', 'Veli', 'Ayşe', 'Fatma'],
        'Age': [25, 30, 35, 40],
        'City': ['İstanbul', 'Ankara', 'İzmir', 'Bursa']}

df = pd.DataFrame(data)
print(df)

    Name  Age      City
0    Ali   25  İstanbul
1   Veli   30    Ankara
2   Ayşe   35     İzmir
3  Fatma   40     Bursa

## **3) Veri Okuma ve Yazma**

Pandas, çeşitli dosya formatlarından veri yüklemek için kullanılabilir. En yaygın kullanılanlar arasında CSV, Excel, SQL ve JSON bulunur.

---

### **CSV Dosyalarından Veri Okuma**

* CSV (Comma Separated Values - Virgülle Ayrılmış Değerler) dosyaları, tablo biçimindeki verileri depolamak için yaygın olarak kullanılır. Pandas, `read_csv()` fonksiyonuyla CSV dosyalarını okuyabilir.

```python
# CSV dosyasından veri okuma
df = pd.read_csv('veri.csv')
print(df)
```

Burada `veri.csv` dosyası, mevcut çalışma dizininizde bulunmalıdır.

---

### **Excel Dosyalarından Veri Okuma**

* Excel dosyaları, sıkça kullanılan bir veri depolama formatıdır. Pandas, `read_excel()` fonksiyonuyla Excel dosyalarını okuyabilir.

```python
# Excel dosyasından veri okuma
df = pd.read_excel('veri.xlsx', sheet_name='Sheet1')
print(df)
```

Bu komut, 'veri.xlsx' Excel dosyasındaki 'Sheet1' sayfasındaki veriyi okur.

---

### **Veri Çerçevesini CSV ve Excel Formatlarında Kaydetme**

* Pandas, veri çerçevesini CSV ve Excel formatlarında kaydetmek için `to_csv()` ve `to_excel()` metodlarını sağlar.

```python
import pandas as pd

# Veri çerçevesini CSV olarak kaydetme
df.to_csv('veri_yeni.csv', index=False)

# Veri çerçevesini Excel olarak kaydetme
df.to_excel('veri_yeni.xlsx', index=False)
```

---

### **1.4 Veri Kontrolü**

Veri kontrolü, veri kümesinin yapısını anlamak için önemlidir.

#### **İlk ve Son Gözlemleri Görüntüleme:**

```python
# İlk 5 gözlemi görüntüleme
print(df.head())

# Son 5 gözlemi görüntüleme
print(df.tail())
```

Başlangıçta veya sonunda bulunan veri örneklerini görüntülemek için `head()` ve `tail()` fonksiyonları kullanılır.

#### **Veri Tiplerini Kontrol Etme:**

```python
# Veri çerçevesindeki sütunların veri tiplerini kontrol etme
print(df.dtypes)
```

Bu, her bir sütunun veri tipini gösterir.

#### **Eksik Değerlerin Kontrolü:**

```python
# Eksik değerlerin kontrolü
print(df.isnull().sum())
```

`isnull()` fonksiyonu, her hücrenin eksik olup olmadığını kontrol eder ve `sum()` fonksiyonu, her sütundaki eksik değer sayısını toplar.

---

In [6]:
df.head()

    Name  Age      City
0    Ali   25  İstanbul
1   Veli   30    Ankara
2   Ayşe   35     İzmir
3  Fatma   40     Bursa

In [17]:
df.tail()

  Department  Salary      City
1         HR    5000  İstanbul
2    Finance    7000    Mersin
3         IT    5500   Giresun
4         HR    4800   Trabzon
5    Finance    7200     Adana

In [19]:
df.dtypes

Department    object
Salary         int64
City          object
dtype: object

### **1.5 Temel İşlemler**

Temel işlemler, veri kümesini manipüle etmek için kullanılır.

#### **Sütunları, Satırları ve Hücreleri Seçme:**

```python
# Belirli bir sütunu seçme
print(df['Name'])

# Belirli bir satırı seçme
print(df.iloc[0])

# Belirli bir hücreyi seçme
print(df.at[0, 'Name'])
```

Bu örneklerde, `[]`, `iloc[]` ve `at[]` kullanılarak sırasıyla sütunlar, satırlar ve belirli hücreler seçilir.

#### **Sütunları Yeniden Adlandırma ve Sıralama:**

```python
# Sütunları yeniden adlandırma
df.rename(columns={'Name': 'İsim', 'Age': 'Yaş'}, inplace=True)

# Sütunları sıralama
df = df[['Yaş', 'İsim', 'City']]
```

Sütunları yeniden adlandırmak ve sıralamak için `rename()` ve sütun adları üzerinden liste indeksleme kullanılır.

#### **Veri Ekleme, Silme ve Güncelleme:**

```python
# Yeni bir sütun ekleme
df['Country'] = 'Türkiye'

# Sütun silme
df.drop(columns=['Country'], inplace=True)

# Veri güncelleme
df.at[0, 'Yaş'] = 26
```

Bu işlemler, veri çerçevesine yeni sütun eklemek, sütunları silmek ve mevcut veriyi güncellemek için kullanılır.

## **2. Veri Manipülasyonu**

### **2.1 Veri Filtreleme ve Seçme**

Veri analizi sırasında genellikle belirli kriterlere göre veriyi filtrelememiz ve belirli verilere erişmemiz gerekir. Pandas, bu tür işlemleri gerçekleştirmek için çeşitli fonksiyonlar sağlar.

#### **Koşullu Seçim İşlemleri**

Pandas, koşullu ifadeler kullanarak veriyi filtreleme yeteneği sağlar. Bu, belirli bir koşulu sağlayan satırları seçmek için kullanılır.

In [7]:
import pandas as pd

# Örnek bir veri çerçevesi oluşturalım
data = {'Name': ['Ali', 'Veli', 'Ayşe', 'Fatma'],
        'Age': [25, 30, 35, 40],
        'City': ['İstanbul', 'Ankara', 'İzmir', 'Bursa']}

df = pd.DataFrame(data)

# Yaşı 30'dan büyük olanları seçelim
filtre = df['Age'] > 30
print(df[filtre])

    Name  Age   City
2   Ayşe   35  İzmir
3  Fatma   40  Bursa

Bu kod parçası, yaş sütunundaki değeri 30'dan büyük olan satırları seçer.

#### **İndeksleme ve Dilimleme**

Pandas, veri çerçevesinde belirli satırları veya sütunları seçmek için indeksleme ve dilimleme işlemlerini destekler.

In [8]:
# Belirli bir sütunu seçme
print(df['Name'], "\n")

# Belirli bir satırı seçme
print(df.iloc[0], "\n")

# Belirli bir aralıktaki satırları seçme
print(df.iloc[1:3], "\n")

# Belirli satırları ve sütunları seçme
print(df.iloc[1:3, 0:2])

0      Ali
1     Veli
2     Ayşe
3    Fatma
Name: Name, dtype: object

Name         Ali
Age           25
City    İstanbul
Name: 0, dtype: object

   Name  Age    City
1  Veli   30  Ankara
2  Ayşe   35   İzmir

   Name  Age
1  Veli   30
2  Ayşe   35

#### **Koşullu Seçim ve Değiştirme**

Pandas, belirli koşulları sağlayan hücreleri seçmek ve bu hücrelerin değerlerini değiştirmek için kullanılabilir.

In [9]:
# Yaşı 30'dan büyük olanların isimlerini değiştirme
df.loc[df['Age'] > 30, 'Name'] = 'Older'
print(df)

    Name  Age      City
0    Ali   25  İstanbul
1   Veli   30    Ankara
2  Older   35     İzmir
3  Older   40     Bursa

Bu kod parçası, yaş sütununda değeri 30'dan büyük olan satırların isimlerini 'Older' olarak değiştirir.

### **2.2 Gruplama ve Toplama**

Veri analizinde sıklıkla kullanılan bir diğer önemli işlem, veriyi belirli bir kritere göre gruplamak ve bu gruplar üzerinde toplama işlemleri yapmaktır. Pandas, bu tür işlemleri gerçekleştirmek için `groupby()` fonksiyonunu sağlar.

#### **`groupby()` Fonksiyonu**

`groupby()` fonksiyonu, belirli bir sütuna göre veriyi gruplar ve her bir grup üzerinde toplama işlemleri yapmamıza olanak tanır.

In [10]:
import pandas as pd

# Örnek bir veri çerçevesi oluşturalım
data = {'Department': ['IT', 'HR', 'Finance', 'IT', 'HR', 'Finance'],
        'Salary': [6000, 5000, 7000, 5500, 4800, 7200]}

df = pd.DataFrame(data)

# Departmanlara göre ortalama maaşları hesaplama
ortalama_maaslar = df.groupby('Department')['Salary'].mean()
print(ortalama_maaslar)

Department
Finance    7100.0
HR         4900.0
IT         5750.0
Name: Salary, dtype: float64

Bu kod parçası, 'Department' sütununa göre veriyi gruplar ve her bir departmanın ortalama maaşını hesaplar.

#### **Agregasyon Fonksiyonları**

`groupby()` fonksiyonu ile kullanabileceğimiz yaygın agregasyon fonksiyonları arasında `sum()`, `mean()`, `median()`, `max()`, `min()` vb. bulunur.

In [11]:
# Departmanlara göre toplam maaşları hesaplama
toplam_maaslar = df.groupby('Department')['Salary'].sum()
print(toplam_maaslar, "\n")

# Departmanlara göre en yüksek maaşları bulma
en_yuksek_maaslar = df.groupby('Department')['Salary'].max()
print(en_yuksek_maaslar)

Department
Finance    14200
HR          9800
IT         11500
Name: Salary, dtype: int64

Department
Finance    7200
HR         5000
IT         6000
Name: Salary, dtype: int64

Bu kod parçaları, departmanlara göre toplam maaşları hesaplar ve her bir departmandaki en yüksek maaşı bulur.

#### **Birden Fazla Sütuna Göre Gruplama**

Ayrıca, `groupby()` fonksiyonunu birden fazla sütuna göre de kullanabiliriz.

In [12]:
df

  Department  Salary
0         IT    6000
1         HR    5000
2    Finance    7000
3         IT    5500
4         HR    4800
5    Finance    7200

In [13]:
# Departman ve Şehre göre ortalama maaşları hesaplama
df["City"] = ["Ordu", "İstanbul", "Mersin", "Giresun", "Trabzon", "Adana"]
ortalama_maaslar = df.groupby(['Department', 'City'])['Salary'].mean()
print(ortalama_maaslar)

Department  City
Finance     Adana       7200.0
            Mersin      7000.0
HR          Trabzon     4800.0
            İstanbul    5000.0
IT          Giresun     5500.0
            Ordu        6000.0
Name: Salary, dtype: float64

Bu kod parçası, departman ve şehre göre veriyi gruplar ve her bir grup için ortalama maaşı hesaplar.

### **2.3 Veri Birleştirme ve Birleştirme**

Veri analizinde, farklı veri kaynaklarından gelen verileri birleştirmek ve birleştirmek önemlidir. Pandas, bu tür işlemleri gerçekleştirmek için çeşitli fonksiyonlar sağlar, bunlar arasında `concat()`, `merge()` ve `join()` bulunur.

#### => `concat()` Fonksiyonu

`concat()` fonksiyonu, farklı veri çerçevelerini birleştirmek için kullanılır. Birleştirme işlemi sırasında, sütun veya satırların sıralanması veya hizalanması gerekmez.

In [14]:
import pandas as pd

# Örnek veri çerçeveleri oluşturalım
df1 = pd.DataFrame({'A': ['A1', 'A2', 'A3'],
                    'B': ['B1', 'B2', 'B3']})

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6'],
                    'B': ['B4', 'B5', 'B6']})

# Veri çerçevelerini birleştirelim
birlesik_df = pd.concat([df1, df2])
print(birlesik_df)

    A   B
0  A1  B1
1  A2  B2
2  A3  B3
0  A4  B4
1  A5  B5
2  A6  B6

Bu kod parçası, `df1` ve `df2` veri çerçevelerini sıralamadan birleştirir.

#### **`merge()` Fonksiyonu**

`merge()` fonksiyonu, iki veri çerçevesini birleştirmek için kullanılır. Bu fonksiyon, birleştirme işlemi sırasında belirli bir sütuna göre eşleşen satırları bulur.

In [15]:
df1 = pd.DataFrame({'employee': ['Ali', 'Veli', 'Ayşe'],
                    'department': ['HR', 'IT', 'Finance']})

df2 = pd.DataFrame({'employee': ['Ali', 'Veli', 'Ahmet'],
                    'age': [25, 30, 35]})

# Veri çerçevelerini birleştirelim
birlesik_df = pd.merge(df1, df2, on='employee')
print(birlesik_df)

  employee department  age
0      Ali         HR   25
1     Veli         IT   30

Bu kod parçası, 'employee' sütununa göre `df1` ve `df2` veri çerçevelerini birleştirir.

#### **`join()` Fonksiyonu**

`join()` fonksiyonu, veri çerçevelerini birleştirmek için kullanılabilir. Bu fonksiyon, veri çerçeveleri üzerinde birleştirme işlemini gerçekleştirirken, indekslere göre birleştirme işlemi yapar.

In [16]:
# Örnek veri çerçeveleri oluşturalım
df1 = pd.DataFrame({'A': ['A1', 'A2', 'A3']},
                   index=[1, 2, 3])

df2 = pd.DataFrame({'B': ['B1', 'B2', 'B3']},
                   index=[2, 3, 4])

# Veri çerçevelerini birleştirelim
birlesik_df = df1.join(df2, how='outer')
print(birlesik_df)

     A    B
1   A1  NaN
2   A2   B1
3   A3   B2
4  NaN   B3

Bu kod parçası, `df1` ve `df2` veri çerçevelerini indekslere göre birleştirir.