![](https://miro.medium.com/v2/resize:fit:720/format:webp/1*3GbLagVDPY9QKjjgB_Tfqw.png)

## Pandas Serileri ve Veri Çerçeveleri

1. **Pandas Nedir?**
   - Pandas'ın tanımı
   - Pandas'ın kullanım alanları
   
2. **Veri Yapıları**

  - **Pandas Serileri**
     - Seri nedir?
     - Seri oluşturma
       - Listelerden seri oluşturma
       - NumPy dizilerinden seri oluşturma
     - Seri İndeksleme ve Dilimleme
     - Seri Özellikleri ve Metodları
       - `head()` ve `tail()`
       - `describe()`
       - `value_counts()`
       - `unique()`
   
  - **Pandas Veri Çerçeveleri**
     - Veri çerçevesi nedir?
     - Veri çerçevesi oluşturma
       - Sözlükten veri çerçevesi oluşturma
       - NumPy dizisinden veri çerçevesi oluşturma
     - Veri Çerçevesi İndeksleme ve Dilimleme
     - Veri Çerçevesi Özellikleri ve Metodları
       - `info()`
       - `head()` ve `tail()`
       - `describe()`
       - `shape`
       - `columns`
       - `index`

3. **Veri Okuma ve Yazma**
   - CSV dosyalarından veri okuma
   - Excel dosyalarından veri okuma
   - Veri çerçevesini CSV ve Excel formatlarında kaydetme

4. **Veri Kontrolü**

   - İlk ve Son Gözlemleri Görüntüleme
   - Satır ve Sütun Sayısı Bilgisi Alma: shape
   - Veri Seti Hakkında Detaylı Bilgi Alma: info()
   - Sütun ve Satır Gösterimi Ayarları: pd.set_option()

5. **Satır ve Sütunlara İşlemleri**

   - **Sütunlara Erişme**
     - Tekil Erişim
     - Çoklu Erişim

   - **Satırlara Erişme: iloc ve loc**
     - iloc()
     - loc()
     - Satır ve Sütunlara Erişme: İki Nokta Kullanımı (indexing)

   - **Satır ve Sütunlara Erişme: İki Nokta Kullanımı (indexing)**
     - Belirli Bir Satır Aralığına Erişme
     - Belirli Bir Sütun Aralığına Erişme
     - Belirli Bir Satır ve Sütun Aralığına Erişme
     - Koşullu Erişim ve Dilimleme

   - **Sütuna Ait Değerleri Saydırma: value_counts()**

6. **İndex İşlemleri**

   - **İndeks nedir?**

   - **İndeks Ayarlama: set_index() ve index_col**
     - set_index()
     - index_col Kullanımı

   - **İndeks Aracılığıyla Erişim: loc**
   - **İndeks Sıfırlama: reset_index()**
   - **İndekslerin Sıralanması: sort_index()**

7. **Filtreleme**






5. **Veri İşleme ve Temizleme**
   - Eksik verilerle başa çıkma
     - `isnull()` ve `notnull()`
     - `dropna()`
     - `fillna()`
   - Veri türü dönüşümleri
   - Veri çerçevesinde tekrar eden değerleri kaldırma
   - Sütun ve satır ekleme, silme ve güncelleme

6. **Veri Görselleştirme**
   - Veri çerçevesi görselleştirme
     - `plot()`
     - `hist()`
     - `boxplot()`
   - Grafiklerin özelleştirilmesi

7. **Veri Analizi**
   - Temel istatistiksel hesaplamalar
     - `mean()`, `median()`, `std()`, `min()`, `max()`, `sum()`
   - Gruplama ve toplulaştırma
     - `groupby()`
   - Veri sıralama
     - `sort_values()`
     - `sort_index()`

8. **Veri Birleştirme ve Birleştirme**
   - Veri birleştirme
     - `concat()`
     - `merge()`
   - Veri çerçeveleri arası birleştirme
     - `join()`

9. **Zaman Serisi Verileri**
   - Tarih ve saat veri türleri
   - Zaman serisi oluşturma
   - Zaman serileri üzerinde işlemler
     - Filtreleme, örnekleme, kaydırma

10. **Pandas İleri Seviye Kavramlar**
    - İleri seviye indeksleme ve seçme
    - Pandas'ın hızlandırılması ve performans optimizasyonu
    - Büyük veri kümeleri ile çalışma

Bu başlıklar altında Pandas'ın temellerinden başlayarak ileri seviye kavramlara kadar geniş bir yelpazede bilgi edinebilirsiniz. Her bir başlık altında örneklerle detaylı bir şekilde konuları ele alacağız.

## **Pandas Temelleri**

## **1) Kurulum**

Pandas'ı yüklemek için `pip` veya `conda` kullanabiliriz. Bu kurulumlar, Python ortamınıza pandas kütüphanesini ekler.

### **Pip Kullanarak Kurulum:**

Pip, Python paketlerinin yönetiminde sıkça kullanılan bir araçtır. Aşağıdaki komutu kullanarak pandas'ı pip aracılığıyla kurabilirsiniz:

```bash
pip install pandas
```

### **Conda Kullanarak Kurulum:**

Conda, Anaconda veya Miniconda gibi dağıtımlarla birlikte gelen bir paket yöneticisidir. Aşağıdaki komutu kullanarak pandas'ı conda aracılığıyla kurabilirsiniz:

```bash
conda install pandas
```

Bu komutlar, pandas kütüphanesinin en son sürümünü indirir ve yükler.

---

In [280]:
import pandas as pd

## **2) Pandas Veri Yapıları**

Pandas kütüphanesi iki ana veri yapısı sunar: Seriler (Series) ve Veri Çerçeveleri (DataFrames).
Bu seri, indekslerle (varsayılan olarak 0'dan başlar) etiketlenmiş değerler içerir.

### **2.1 Seriler (Series):**

* Pandas'ta Series veri yapısı, tek boyutlu, indekslenmiş ve değiştirilemeyen (immutable) veri dizilerini temsil eder. Her bir eleman, bir indeksle ilişkilendirilmiştir. Örneğin Bu seri, indekslerle (varsayılan olarak 0'dan başlar) etiketlenmiş değerler içerir:

**Pandas Series Yapısı Özellikleri:**

1) **Tek Boyutlu Veri Yapısı:** Pandas Series, yalnızca tek bir boyutta veri saklar.

2) **Indekslenmiş Veriler:** Her eleman, bir indeksle eşleştirilmiştir. Önceden tanımlı veya özel bir indeks kullanılabilir.

3) **Homojen Veri Tipleri:** Series, herhangi bir veri tipinde veri saklayabilir. Örneğin, tam sayılar, kayan nokta sayıları, dizeler veya diğer Python veri tipleri olabilir.

4) **Değiştirilemeyen (Immutable):** Bir Series oluşturulduktan sonra, içeriği değiştirilemez. Ancak yeni bir Series oluşturularak değişiklik yapılabilir.

In [281]:
seri = pd.Series([10, 20, 30, 40, 50])
print(seri)

0    10
1    20
2    30
3    40
4    50
dtype: int64

**Pandas Series Yapısı Özellikleri:**

1) **Tek Boyutlu Veri Yapısı:** Pandas Series, yalnızca tek bir boyutta veri saklar.

2) **Indekslenmiş Veriler:** Her eleman, bir indeksle eşleştirilmiştir. Önceden tanımlı veya özel bir indeks kullanılabilir.

3) **Homojen Veri Tipleri:** Series, herhangi bir veri tipinde veri saklayabilir. Örneğin, tam sayılar, kayan nokta sayıları, dizeler veya diğer Python veri tipleri olabilir.

4) **Değiştirilemeyen (Immutable):** Bir Series oluşturulduktan sonra, içeriği değiştirilemez. Ancak yeni bir Series oluşturularak değişiklik yapılabilir.

#### **2.1.1 Seri Oluşturma**

* Pandas serileri, çeşitli veri tiplerinden oluşturulabilir.

##### **Listelerden Seri Oluşturma**

In [282]:
import pandas as pd

data = [1, 2, 3, 4, 5]
seri = pd.Series(data)
print(seri)

0    1
1    2
2    3
3    4
4    5
dtype: int64

##### **NumPy Dizilerinden Seri Oluşturma**

In [283]:
import pandas as pd
import numpy as np

data = np.array([1, 2, 3, 4, 5])
seri = pd.Series(data)
print(seri)

0    1
1    2
2    3
3    4
4    5
dtype: int32

#### **2.1.2 Seri İndeksleme ve Dilimleme**

* Pandas serileri, indeksleme ve dilimleme işlemleri için kullanılabilir.

In [284]:
print(seri[0], "\n")  # İlk eleman
print(seri[1:3], "\n")  # 1. ve 2. elemanlar

# Dilimleme
print(seri[:3], "\n")  # İlk 3 eleman
print(seri[-2:], "\n")  # Son 2 eleman

1

1    2
2    3
dtype: int32

0    1
1    2
2    3
dtype: int32

3    4
4    5
dtype: int32

#### **2.1.3 Seri Özellikleri ve Metodları**

* Pandas serileri, çeşitli özelliklere ve metodlara sahiptir.

In [285]:
# Serinin boyutu
print(seri.size, "\n")

# Serinin indeksleri
print(seri.index, "\n")

# Serinin değerleri
print(seri.values, "\n")

# Serinin istatistiksel özetleri
print(seri.describe(), "\n")

5

RangeIndex(start=0, stop=5, step=1)

[1 2 3 4 5]

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

### **2.2 DataFrames (Veri Çerçeveleri):**

* DataFrame, Pandas kütüphanesindeki temel veri yapısıdır ve tablo benzeri bir iki boyutlu veri yapısını temsil eder. Veriler, farklı veri tipleri içerebilen sütunlar halinde düzenlenmiştir. DataFrame, verileri etiketli bir şekilde saklamak, işlemek ve analiz etmek için kullanılır. Pandas, Python'da veri analizi ve manipülasyonu için oldukça popüler bir kütüphanedir ve DataFrame, Pandas'ın bu popülerliğinde önemli bir rol oynamaktadır.

DataFrame'in temel özellikleri şunlardır:

1) **İki Boyutlu Yapı:** DataFrame, satırlar ve sütunlar şeklinde iki boyutlu bir yapıya sahiptir. Satırlar genellikle gözlemleri (örnekleri) temsil ederken, sütunlar değişkenleri (özellikleri) temsil eder.

2) **İndeksleme:** DataFrame'in satırları, indeks adı verilen bir etiketle belirlenir. Bu indeks, her bir gözlemin benzersiz bir tanımlayıcısını sağlar.

3) **Farklı Veri Tipleri:** Her bir sütun farklı veri tiplerini içerebilir. Örneğin, bir sütun sayısal değerleri içerebilirken, diğer bir sütun metinsel değerleri içerebilir.

4) **Esnek Boyutlar:** DataFrame'ler, değişken sayısını ve gözlem sayısını dinamik olarak yönetebilir. Yani, DataFrame boyutları veri ekledikçe veya çıkardıkça otomatik olarak genişleyebilir veya küçülebilir.

5) **Veri Manipülasyonu:** Pandas DataFrame, veri analizi, filtreleme, gruplama, birleştirme ve dönüşüm gibi çeşitli işlemleri kolayca gerçekleştirmenizi sağlayan geniş bir metod koleksiyonuna sahiptir.

---

#### **2.2.1 Veri Çerçevesi Oluşturma**

* Pandas veri çerçeveleri, farklı veri kaynaklarından oluşturulabilir.

##### **Sözlükten DAtaFrame Oluşturma**

In [286]:
import pandas as pd

data = {'Name': ['John', 'Anna', 'Peter', 'Linda'],
        'Age': [28, 25, 32, 35]}
df = pd.DataFrame(data)
print(df)

    Name  Age
0   John   28
1   Anna   25
2  Peter   32
3  Linda   35

##### **NumPy Dizisinden DataFrame Oluşturma**

In [287]:
import pandas as pd
import numpy as np

data = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
df = pd.DataFrame(data, columns=['A', 'B', 'C'])
print(df)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

#### **2.2.2 DataFrame İndeksleme ve Dilimleme**

* Veri çerçeveleri, satırları ve sütunları indekslemek ve dilimlemek için kullanılabilir.

In [288]:
import pandas as pd

# Örnek bir veri listesi
data = {'Name': ['Ahmet', 'Ayşe', 'Mehmet', 'Fatma', 'Ali']}

# DataFrame oluşturma
df = pd.DataFrame(data)

# DataFrame'i görüntüleme
print(df, "\n")


# Sütun seçme
print(df['Name'], "\n")

# Satır seçme
print(df.loc[0], "\n")

# Belirli bir hücreye erişme
print(df.at[0, 'Name'], "\n")

# Dilimleme
print(df.iloc[1:3, :])

     Name
0   Ahmet
1    Ayşe
2  Mehmet
3   Fatma
4     Ali

0     Ahmet
1      Ayşe
2    Mehmet
3     Fatma
4       Ali
Name: Name, dtype: object

Name    Ahmet
Name: 0, dtype: object

Ahmet

     Name
1    Ayşe
2  Mehmet

#### **2.2.3 DataFrame Özellikleri ve Metodları**

* Pandas veri çerçeveleri, çeşitli özelliklere ve metodlara sahiptir.

In [289]:
# Veri çerçevesinin boyutu
print(df.shape, "\n")

# Veri çerçevesinin indeksleri
print(df.index, "\n")

# Veri çerçevesinin sütunları
print(df.columns, "\n")

# İlk n satırı görüntüleme
print(df.head(), "\n")

# Son n satırı görüntüleme
print(df.tail())

(5, 1)

RangeIndex(start=0, stop=5, step=1)

Index(['Name'], dtype='object')

     Name
0   Ahmet
1    Ayşe
2  Mehmet
3   Fatma
4     Ali

     Name
0   Ahmet
1    Ayşe
2  Mehmet
3   Fatma
4     Ali

In [290]:
# Sözlük üzerinden bir Veri Çerçevesi oluşturma
data = {'Name': ['Ali', 'Veli', 'Ayşe', 'Fatma'],
        'Age': [25, 30, 35, 40],
        'City': ['İstanbul', 'Ankara', 'İzmir', 'Bursa']}

df = pd.DataFrame(data)
print(df)

    Name  Age      City
0    Ali   25  İstanbul
1   Veli   30    Ankara
2   Ayşe   35     İzmir
3  Fatma   40     Bursa

## **3) Veri Okuma ve Yazma**

Pandas, çeşitli dosya formatlarından veri yüklemek için kullanılabilir. En yaygın kullanılanlar arasında CSV, Excel, SQL ve JSON bulunur.

---

### **CSV Dosyalarından Veri Okuma**

* CSV (Comma Separated Values - Virgülle Ayrılmış Değerler) dosyaları, tablo biçimindeki verileri depolamak için yaygın olarak kullanılır. Pandas, `read_csv()` fonksiyonuyla CSV dosyalarını okuyabilir.

```python
# CSV dosyasından veri okuma
df = pd.read_csv('veri.csv')
print(df)
```

Burada `veri.csv` dosyası, mevcut çalışma dizininizde bulunmalıdır.

---

### **Excel Dosyalarından Veri Okuma**

* Excel dosyaları, sıkça kullanılan bir veri depolama formatıdır. Pandas, `read_excel()` fonksiyonuyla Excel dosyalarını okuyabilir.

```python
# Excel dosyasından veri okuma
df = pd.read_excel('veri.xlsx', sheet_name='Sheet1')
print(df)
```

Bu komut, 'veri.xlsx' Excel dosyasındaki 'Sheet1' sayfasındaki veriyi okur.

---

In [291]:
import pandas as pd

df = pd.read_excel('C:/Users/Yusuf Altuntaş/Desktop/repolarim/pandas-tutorial/pandas-tutorial/temelozet.xlsx')

### **Veri Çerçevesini CSV ve Excel Formatlarında Kaydetme**

* Pandas, veri çerçevesini CSV ve Excel formatlarında kaydetmek için `to_csv()` ve `to_excel()` metodlarını sağlar.

```python
import pandas as pd

# Veri çerçevesini CSV olarak kaydetme
df.to_csv('veri_yeni.csv', index=False)

# Veri çerçevesini Excel olarak kaydetme
df.to_excel('veri_yeni.xlsx', index=False)
```

---

Şimdi gerçek bir veri seti üzerinde işlemleri yapalım

## **4) Veri Kontrolü**

Veri kontrolü, veri kümesinin yapısını anlamak için önemlidir. Başlangıçta veya sonunda bulunan veri örneklerini görüntülemek için `head()` ve `tail()` fonksiyonları kullanılır.

### **İlk ve Son Gözlemleri Görüntüleme:**

In [292]:
# İlk 5 gözlemi görüntüleme
df.head()

,Kod,Hisse Adı,Sektör,Kapanış(TL),Piyasa Değeri(mn TL),Piyasa Değeri(mn $),Halka AçıklıkOranı (%),Sermaye(mn TL)
0,A1CAP,A1 Capital,Aracı Kurumlar,26.80,3618.0,138.7,25.9,135.0
1,ACSEL,Acıselsan Acıpayam Selüloz,Kimyasal Ürün,84.25,903.3,34.6,51.8,10.7
2,ADEL,Adel Kalemcilik,Kırtasiye,245.00,5788.1,221.8,27.7,23.6
3,ADESE,Adese AVM,Perakande - Ticaret,1.62,1633.0,62.6,92.9,1008.0
4,AEFES,Anadolu Efes,Meşrubat / İçecek,70.85,41950.7,1607.8,32.9,592.1

In [293]:
# Son 5 satırı gösterme
df.tail()

,Kod,Hisse Adı,Sektör,Kapanış(TL),Piyasa Değeri(mn TL),Piyasa Değeri(mn $),Halka AçıklıkOranı (%),Sermaye(mn TL)
504,YYAPI,Yesil Yapi,İnşaat- Taahhüt,2.72,875.0,33.5,72.2,321.7
505,YYLGD,Yayla Agro Gıda,Gıda,31.32,14801.8,567.3,15.0,472.6
506,ZEDUR,Zedur Enerji,Elektrik,49.80,1245.0,47.7,38.6,25.0
507,ZOREN,Zorlu Enerji,Elektrik,3.50,17500.0,670.7,30.0,5000.0
508,ZRGYO,Ziraat GYO,GYO,4.67,21919.2,840.1,18.9,4693.6

### **Satır ve Sütun Sayısı Bilgisi Alma: shape**

`shape` modülünü kullanarak satır ve  sütun sayısı bilgisini elde ederiz.

In [294]:
df.shape

(509, 8)

### **Veri Seti Hakkında Detaylı Bilgi Alma: info()**

Bu metot, veri setinin hakkında bilgileri  döndürmektedir. Bu bilgilere erişim  için
`info()` adını kullanabilirsiniz.

Bu fonksiyon, veri çerçevesindeki her sütunun veri tipini, veri tiplerinin sayısal dağılımını, bellek kullanımını, eksik değerleri ve sütunların ve satırların toplamda kaç olduğu bilgisini gösterir.

In [295]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 509 entries, 0 to 508
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Kod                     509 non-null    object
 1   Hisse Adı               509 non-null    object
 2   Sektör                  509 non-null    object
 3   Kapanış(TL)             509 non-null    float64
 4   Piyasa Değeri(mn TL)    509 non-null    float64
 5   Piyasa Değeri(mn $)     509 non-null    float64
 6   Halka AçıklıkOranı (%)  509 non-null    float64
 7   Sermaye(mn TL)          509 non-null    float64
dtypes: float64(5), object(3)
memory usage: 31.9+ KB

### **Sütun ve Satır Gösterimi Ayarları: pd.set_option()**

Bu bölümde, pandas kitaplığında  bulunan `pd.set_option()` işlevinin  nasıl kullanılacağı gösterilecektir.

* df.head() veya df.tail() ile çalıştırdığımızda sütunların eğer sütun sayısı fazla olsaydı sadece bir kısmını görebilirdik. Veri çerçevesindeki sütunların tamamını görmek isteseydik pd.set_option() ile aşağıdaki ayarı yapabilirdik.

```
pd.set_option('display.max_columns', None)
```

None kullanılmasının amacı, display.max_columns seçeneğini sınırlamadan kaldırmaktır.

```
pd.set_option('display.max_columns', 10)
```

* bu kodla sütun sayısını 10 ile sınırlandırırdık.

Aynı şekilde, satır sayısını da aşağıdaki gibi ayarlayabiliriz.

```
pd.set_option('display.max_rows', None)
```

## **5) Satır ve Sütun İşlemleri**

### **5.1 Sütunlara Erişme**

Pandas veri çerçeveleri, farklı sütunlardaki verilere erişmek için çeşitli yöntemler sağlar.

#### **5.1.1 Tekil Erişim**

Son oluşturduğumuz veri çerçevesinden Sektör sütununa erişmek istediğimizi varsayalım.

In [296]:
df["Sektör"]

0           Aracı Kurumlar
1            Kimyasal Ürün
2                Kırtasiye
3      Perakande - Ticaret
4        Meşrubat / İçecek
              ...
504        İnşaat- Taahhüt
505                   Gıda
506               Elektrik
507               Elektrik
508                    GYO
Name: Sektör, Length: 509, dtype: object

* Aynı sütuna ulaşmanın bir başka yolu ise nokta notasyonunu kullanmaktır.

In [297]:
df.Sektör

0           Aracı Kurumlar
1            Kimyasal Ürün
2                Kırtasiye
3      Perakande - Ticaret
4        Meşrubat / İçecek
              ...
504        İnşaat- Taahhüt
505                   Gıda
506               Elektrik
507               Elektrik
508                    GYO
Name: Sektör, Length: 509, dtype: object

Hangi yöntemi tercih etmeliyiz?

* pd_df['Sektör'] ifadesi, DataFrame üzerindeki sütuna doğrudan bir dizi indeksi kullanarak erişim sağlar. Bu yöntem, sütun ismi boşluk veya özel karakterler içerdiğinde veya Python programlama dilinde özel bir kelimeyle çakıştığında daha güvenlidir. Örneğin, eğer sütun ismi sutun ismi veya if gibi bir kelime ise bu ifadeleri kullanarak doğrudan sütuna erişim sağlayabiliriz.

* pd_df.Sektör ifadesi ise, nokta notasyonunu kullanarak sütuna erişim sağlar. Bu ifade daha kısa ve daha okunabilir bir yazım şekli sunar. Ancak bazı durumlarda, sütun ismi boşluk veya özel karakterler içeriyorsa veya Python programlama dilinde özel bir kelimeyle çakışıyorsa hata verebilir.

Daha önce oluşturduğumuz veri çerçevesine sütunlar ekleyip az önce öğrendiklerimizi pekiştirelim.

### **5.1.2 Çoklu Erişim**

Buraya kadar tek bir sütuna erişimi gördük. Birden fazla sütuna erişmek istediğimizde aşağıdaki ifadeyi kullanıyoruz.

In [298]:
df[["Kod", "Hisse Adı"]]

       Kod                   Hisse Adı
0    A1CAP                  A1 Capital
1    ACSEL  Acıselsan Acıpayam Selüloz
2     ADEL             Adel Kalemcilik
3    ADESE                   Adese AVM
4    AEFES                Anadolu Efes
..     ...                         ...
504  YYAPI                  Yesil Yapi
505  YYLGD             Yayla Agro Gıda
506  ZEDUR                Zedur Enerji
507  ZOREN                Zorlu Enerji
508  ZRGYO                  Ziraat GYO

[509 rows x 2 columns]

Yukarıdaki iki duruma dikkat edelim. Birincisi, tek sütuna tek köşeli parantez ([]) ile ulaşırken çoklu sütunlara çift köşeli parantez ([[]]) ile ulaştık. İkincisi, tek sütuna erişirken çıktıyı bir seri olarak alıyorduk ancak çoklu sütunlara erişmek istediğimizde artık bir seri değil bir veri çerçevesi olarak çıktıyı alıyoruz.

Son olarak, sütun isimlerinin tamamını görmek istiyorsak aşağıdaki ifadeyi kullanabiliriz.

In [299]:
df.columns

Index(['Kod', 'Hisse Adı', 'Sektör', 'Kapanış(TL)', 'Piyasa Değeri(mn TL)',
       'Piyasa Değeri(mn $)', 'Halka AçıklıkOranı (%)', 'Sermaye(mn TL)'],
      dtype='object')

## **5.2 Satırlara Erişme: iloc ve loc**

### **5.2.1 iloc()**

* iloc, integer location anlamına gelir ve DataFrame veya Series üzerinde konum tabanlı indeksleme yapmamıza olanak tanır. İndeksler sıfırdan başlar ve satır veya sütunları belirlemek için tamsayı indekslerini kullanır. iloc kullanırken satır veya sütunların konumunu belirtmek için köşeli parantez içinde tamsayı indeksleri kullanırız.

İlk satıra erişelim

In [300]:
df.iloc[0]

Kod                                A1CAP
Hisse Adı                     A1 Capital
Sektör                    Aracı Kurumlar
Kapanış(TL)                         26.8
Piyasa Değeri(mn TL)              3618.0
Piyasa Değeri(mn $)                138.7
Halka AçıklıkOranı (%)              25.9
Sermaye(mn TL)                     135.0
Name: 0, dtype: object

Tek bir satıra erişebileceğimiz gibi birden fazla satıra da erişebiliriz. Tıpkı çoklu sütuna erişimde olduğu gibi ilerleyeceğiz.

In [301]:
df.iloc[[0,1]]

,Kod,Hisse Adı,Sektör,Kapanış(TL),Piyasa Değeri(mn TL),Piyasa Değeri(mn $),Halka AçıklıkOranı (%),Sermaye(mn TL)
0,A1CAP,A1 Capital,Aracı Kurumlar,26.80,3618.0,138.7,25.9,135.0
1,ACSEL,Acıselsan Acıpayam Selüloz,Kimyasal Ürün,84.25,903.3,34.6,51.8,10.7

``iloc`` ile sütunlara da erişebiliriz. Örneğin, ilk iki satırın 5. sütununa erişmeye çalışalım.

In [302]:
df.iloc[[0,1],4]

0    3618.0
1     903.3
Name: Piyasa Değeri(mn TL), dtype: float64

Çoklu sütunlara da erişebiliriz. Örneğin, 4. ve 5. sütunlara erişelim.

In [303]:
df.iloc[[0,1], [3,4]]

   Kapanış(TL)  Piyasa Değeri(mn TL)
0        26.80                3618.0
1        84.25                 903.3

### **5.2.2 loc()**

``loc``, label location anlamına gelir ve DataFrame veya Series üzerinde etiket tabanlı indeksleme yapmak için kullanılan bir indeksleme yöntemidir.

İlk satıra erişelim. Burada 0 etiketine sahip satırı getireceğiz.

In [304]:
df.loc[0]

Kod                                A1CAP
Hisse Adı                     A1 Capital
Sektör                    Aracı Kurumlar
Kapanış(TL)                         26.8
Piyasa Değeri(mn TL)              3618.0
Piyasa Değeri(mn $)                138.7
Halka AçıklıkOranı (%)              25.9
Sermaye(mn TL)                     135.0
Name: 0, dtype: object

Tek bir satıra erişebileceğimiz gibi birden fazla satıra da erişebiliriz. Bu defa örnek olarak 0 ve 1 etiketlerine sahip satırları getireceğiz.

In [305]:
df.loc[[0,1]]

,Kod,Hisse Adı,Sektör,Kapanış(TL),Piyasa Değeri(mn TL),Piyasa Değeri(mn $),Halka AçıklıkOranı (%),Sermaye(mn TL)
0,A1CAP,A1 Capital,Aracı Kurumlar,26.80,3618.0,138.7,25.9,135.0
1,ACSEL,Acıselsan Acıpayam Selüloz,Kimyasal Ürün,84.25,903.3,34.6,51.8,10.7

Buraya kadar yaptıklarımız aslında iloc'ta yaptıklarımıza benziyor ancak biz etiket bazlı ilerliyoruz. Son olarak, son sütuna erişelim.

In [306]:
df.loc[[0,1], 'Sermaye(mn TL)']

0    135.0
1     10.7
Name: Sermaye(mn TL), dtype: float64

Çoklu sütunlara da erişebiliriz. Örneğin, aşağıdaki iki sütuna erişelim.

In [307]:
df.loc[[0,1], ['Piyasa Değeri(mn TL)','Piyasa Değeri(mn $)']]

   Piyasa Değeri(mn TL)  Piyasa Değeri(mn $)
0                3618.0                138.7
1                 903.3                 34.6

### **5.3 Satır ve Sütunlara Erişme: İki Nokta Kullanımı (indexing)**

Pandas veri çerçeveleri üzerinde, satır ve sütunlara aynı anda erişmek için "İki Nokta Kullanımı" yani "indexing" adı verilen bir yöntem bulunmaktadır. Bu yöntem, hem satırları hem de sütunları indeksleyerek belirli bir aralığa erişmeyi sağlar.

#### **5.3.1 Belirli Bir Satır Aralığına Erişme**

":" kullanarak da ilk 5 satıra erişebiliriz. Burada dikkat etmemiz gereken nokta çift parantez yerine tek parantez kullanacak olmamızdır

In [308]:
df.iloc[0:4, 0] # ilk sütundaki 4. indexe kadar olan değerleri yazdırma (4. index dahil değil)

0    A1CAP
1    ACSEL
2     ADEL
3    ADESE
Name: Kod, dtype: object

In [309]:
df.loc[0:4, "Kod"] # ilk sütundaki ilk 5 indexi yazdırma

0    A1CAP
1    ACSEL
2     ADEL
3    ADESE
4    AEFES
Name: Kod, dtype: object

#### **5.3.2 Belirli Bir Sütun Aralığına Erişme**

"Hisse Adı" ve "Piyasa Değeri(mn TL)" sütunlarının verilerini almak için  aşağıdaki  kod  parçasını kullanırız.

In [310]:
df[["Hisse Adı", "Piyasa Değeri(mn TL)"]]

                      Hisse Adı  Piyasa Değeri(mn TL)
0                    A1 Capital                3618.0
1    Acıselsan Acıpayam Selüloz                 903.3
2               Adel Kalemcilik                5788.1
3                     Adese AVM                1633.0
4                  Anadolu Efes               41950.7
..                          ...                   ...
504                  Yesil Yapi                 875.0
505             Yayla Agro Gıda               14801.8
506                Zedur Enerji                1245.0
507                Zorlu Enerji               17500.0
508                  Ziraat GYO               21919.2

[509 rows x 2 columns]

#### **5.3.3 Belirli Bir Satır ve Sütun Aralığına Erişme**

"loc" ve "iloc" kullanarak aşağıdaki şekilde satır ve sütun aralığı verebiliriz.

In [311]:
df.loc[0:4, "Hisse Adı":"Kapanış(TL)"]

                    Hisse Adı               Sektör  Kapanış(TL)
0                  A1 Capital       Aracı Kurumlar        26.80
1  Acıselsan Acıpayam Selüloz        Kimyasal Ürün        84.25
2             Adel Kalemcilik            Kırtasiye       245.00
3                   Adese AVM  Perakande - Ticaret         1.62
4                Anadolu Efes    Meşrubat / İçecek        70.85

In [312]:
df.iloc[0:4, 0:4]

     Kod                   Hisse Adı               Sektör  Kapanış(TL)
0  A1CAP                  A1 Capital       Aracı Kurumlar        26.80
1  ACSEL  Acıselsan Acıpayam Selüloz        Kimyasal Ürün        84.25
2   ADEL             Adel Kalemcilik            Kırtasiye       245.00
3  ADESE                   Adese AVM  Perakande - Ticaret         1.62

#### **5.3.4 Koşullu Erişim ve Dilimleme**

"Kapanış(TL)" sütunundaki değeri 100 den büyük olan verilerin "Kod" sütunundaki karşılığını ekrana yazdıralım.

In [313]:
df[df["Kapanış(TL)"] > 100]["Kod"]

2       ADEL
7      AGHOL
24     ALCAR
26     ALFAS
36     ARCLK
       ...
479    UZERB
486    VERUS
492    YAPRK
495    YBTAS
503    YUNSA
Name: Kod, Length: 73, dtype: object

In [314]:
df[(df["Kapanış(TL)"] > 100) & (df["Piyasa Değeri(mn TL)"] > 3000)]["Kod"]

2       ADEL
7      AGHOL
24     ALCAR
26     ALFAS
36     ARCLK
39     ARMDA
44     ASUZU
51     AVHOL
54     AYCES
70     BFREN
73     BIMAS
89     BRSAN
90     BRYAT
99     CCOLA
104    CIMSA
105    CLEBI
113    CVKMD
114    CWENE
132     DOAS
134     DOCO
142    ECZYT
145    EGEEN
148    EGPRO
161     ERCB
183    FROTO
207    GUBRF
237    INVES
256    JANTS
265    KCHOL
266     KENT
278    KMPUR
281    KONTR
282    KONYA
326    MGROS
327    MIATK
335    MRSHL
340    NATEN
346    NUHCM
355    OTKAR
366    PAMEL
377    PGSUS
380    PKENT
385    POLTK
393    QNBFL
413    SDTTR
435    SRVGY
440    TAVHL
449    THYAO
456    TOASO
464    TTRAK
475    ULUSE
486    VERUS
495    YBTAS
503    YUNSA
Name: Kod, dtype: object

* "Kapanış(TL)" değeri 100 den büyük ve "Piyasa Değeri(mn TL)" 30000 de büyük olan verilerin "Kod" sütunundaki karşılıkları.

In [315]:
df[(df["Kapanış(TL)"] > 100) & (df["Piyasa Değeri(mn TL)"] > 30000)]["Kod"]

36     ARCLK
73     BIMAS
89     BRSAN
90     BRYAT
99     CCOLA
132     DOAS
134     DOCO
183    FROTO
207    GUBRF
237    INVES
265    KCHOL
266     KENT
281    KONTR
326    MGROS
377    PGSUS
440    TAVHL
449    THYAO
456    TOASO
464    TTRAK
Name: Kod, dtype: object

### **5.4 Sütuna Ait Değerleri Saydırma: value_counts()**

Pandas'ın value_counts() yöntemi, bir sütundaki benzersiz değerleri ve her bir değerin kaç kez tekrarlandığını saymak için kullanılır. Bu yöntem, veri setindeki dağılımı anlamak için sıklıkla kullanılır.

* "Sektör" sütununu seçip her bir sektörden kaç adet bulunduğunu hesaplayalım.

In [316]:
df["Sektör"].value_counts()

Sektör
GYO                           41
Elektrik                      36
Gıda                          33
Holdingler                    32
Tekstil Entegre               25
Teknoloji                     17
Turizm                        16
İnşaat Malzemeleri            16
Kimyasal Ürün                 16
Yatırım Ortaklıkları          16
Çimento                       15
Bankacılık                    15
Kağıt Ürünleri                14
Perakande - Ticaret           13
Sağlık ve İlaç                12
Demir-Çelik Temel             12
Aracı Kurumlar                11
Otomotiv Parçası              10
Dayanıklı Tüketim             10
Fin.Kiralama ve Faktoring      9
Meşrubat / İçecek              9
Medya                          8
Demir-Çelik Döküm              8
Otomotiv                       8
Elektrik Makinları Üretimi     7
Bilgisayar Toptancılığı        7
Ulaştırma-Lojistik             7
İnşaat- Taahhüt                6
Mobilya                        6
Madencilik                     6
Sigorta                        6
Petrol                         6
Diğer                          5
Boya                           5
Havayolları ve Hizm.           4
Seramik                        4
Deri Giyim                     4
İletişim                       4
Spor                           4
Tarım Kimyasalları             4
Endüstriyel Tekstil            4
İletişim Cihazları             3
Pazarlama                      3
Kırtasiye                      2
Otomotiv Lastiği               2
Hayvancılık                    2
Savunma                        2
Kablo                          2
Eğlence Hizmetleri             1
Cam                            1
Name: count, dtype: int64

## **6) İndex İşlemleri**

In [317]:
import pandas as pd

df = pd.read_excel('C:/Users/Yusuf Altuntaş/Desktop/repolarim/pandas-tutorial/pandas-tutorial/temelozet.xlsx')

###  **6.1. İndeks nedir?**

In [318]:
df.head()

,Kod,Hisse Adı,Sektör,Kapanış(TL),Piyasa Değeri(mn TL),Piyasa Değeri(mn $),Halka AçıklıkOranı (%),Sermaye(mn TL)
0,A1CAP,A1 Capital,Aracı Kurumlar,26.80,3618.0,138.7,25.9,135.0
1,ACSEL,Acıselsan Acıpayam Selüloz,Kimyasal Ürün,84.25,903.3,34.6,51.8,10.7
2,ADEL,Adel Kalemcilik,Kırtasiye,245.00,5788.1,221.8,27.7,23.6
3,ADESE,Adese AVM,Perakande - Ticaret,1.62,1633.0,62.6,92.9,1008.0
4,AEFES,Anadolu Efes,Meşrubat / İçecek,70.85,41950.7,1607.8,32.9,592.1

Sol tarafta bir sütunmuş gibi görünen 0, 1, 2, ... değerleri indekstir. İndeksler, bir numaralandırma veya etiketleme mekanizmasıdır. Örneğin, bir liste içindeki elemanların her biri bir indeks değerine sahiptir ve bu indeksler kullanılarak elemanlara erişebiliriz. Örneğimizdeki veri çerçevesinde indeks, satırları etiketlemek veya numaralandırmak için kullanılır. Varsayılan olarak, veri çerçevesinin indeksi sıfırdan başlayan tam sayılarla oluşturulur. Bununla birlikte, indeksler benzersiz olmak zorunda değildir. Yani aynı indeks değeri birden fazla satıra karşılık gelebilir.

### **6.2. İndeks Ayarlama: set_index() ve index_col**

Pandas'ta, veri çerçevesindeki belirli bir sütunu indeks olarak ayarlamak için ``set_index()`` yöntemi kullanılır. Ayrıca, veri çerçevesini okurken, okunan sütunu indeks olarak belirlemek için ``index_col`` parametresi kullanılır.

#### **6.2.1 set_index()**

``set_index()`` yöntemi, belirtilen sütunu indeks olarak ayarlar. Bu, veri çerçevesindeki satırları bu sütuna göre etiketler. `inplace` parametresini "True" olarak ayarlarsak asıl veri seti üzerinde değişiklik yapabiliriz.

* "df2" adlı yeni bir değişken oluşturarak "Kod" sütununu index olarak ayarlayalım.

In [319]:
df2 = df.set_index("Kod")
df2.head()

,Hisse Adı,Sektör,Kapanış(TL),Piyasa Değeri(mn TL),Piyasa Değeri(mn $),Halka AçıklıkOranı (%),Sermaye(mn TL)
Kod,,,,,,,
A1CAP,A1 Capital,Aracı Kurumlar,26.80,3618.0,138.7,25.9,135.0
ACSEL,Acıselsan Acıpayam Selüloz,Kimyasal Ürün,84.25,903.3,34.6,51.8,10.7
ADEL,Adel Kalemcilik,Kırtasiye,245.00,5788.1,221.8,27.7,23.6
ADESE,Adese AVM,Perakande - Ticaret,1.62,1633.0,62.6,92.9,1008.0
AEFES,Anadolu Efes,Meşrubat / İçecek,70.85,41950.7,1607.8,32.9,592.1

#### **6.2.2 index_col Kullanımı**

``index_col`` parametresi, veri çerçevesini okurken belirli bir sütunu indeks olarak belirlemek için kullanılır.

In [320]:
import pandas as pd

df3 = pd.read_excel('C:/Users/Yusuf Altuntaş/Desktop/repolarim/pandas-tutorial/pandas-tutorial/temelozet.xlsx', index_col="Kod")
df3.head()

,Hisse Adı,Sektör,Kapanış(TL),Piyasa Değeri(mn TL),Piyasa Değeri(mn $),Halka AçıklıkOranı (%),Sermaye(mn TL)
Kod,,,,,,,
A1CAP,A1 Capital,Aracı Kurumlar,26.80,3618.0,138.7,25.9,135.0
ACSEL,Acıselsan Acıpayam Selüloz,Kimyasal Ürün,84.25,903.3,34.6,51.8,10.7
ADEL,Adel Kalemcilik,Kırtasiye,245.00,5788.1,221.8,27.7,23.6
ADESE,Adese AVM,Perakande - Ticaret,1.62,1633.0,62.6,92.9,1008.0
AEFES,Anadolu Efes,Meşrubat / İçecek,70.85,41950.7,1607.8,32.9,592.1

In [321]:
df3.index

Index(['A1CAP', 'ACSEL', 'ADEL', 'ADESE', 'AEFES', 'AFYON', 'AGESA', 'AGHOL',
       'AGYO', 'AHGAZ',
       ...
       'YGYO', 'YKBNK', 'YKSLN', 'YONGA', 'YUNSA', 'YYAPI', 'YYLGD', 'ZEDUR',
       'ZOREN', 'ZRGYO'],
      dtype='object', name='Kod', length=509)

### **6.3 İndeks Aracılığıyla Erişim: loc**

Pandas'ta, veri çerçevesindeki satırlara ve sütunlara indeksler aracılığıyla erişmek için ``loc`` yöntemi kullanılır. ``loc``, indeks etiketlerini kullanarak belirli bir satır veya sütunun değerlerine erişmemizi sağlar.

- ``loc`` ile "THYAO" indeksine ulaşalım. Aslında burada iloc ile loc'un ayrımı daha net görmüş olacağız.

In [322]:
df3.loc["THYAO"]

Hisse Adı                    Türk Hava Yolları
Sektör                    Havayolları ve Hizm.
Kapanış(TL)                              216.6
Piyasa Değeri(mn TL)                  298908.0
Piyasa Değeri(mn $)                    11455.9
Halka AçıklıkOranı (%)                    50.4
Sermaye(mn TL)                          1380.0
Name: THYAO, dtype: object

* Aynı indexin "Piyasa Değeri(mn TL)" değerine bakalım.

In [323]:
df3.loc["THYAO", "Piyasa Değeri(mn TL)"]

298908.0

### **6.4 İndeks Sıfırlama: reset_index()**

Pandas'ta, ``reset_index()`` yöntemi veri çerçevesinin indeksini sıfırlamak için kullanılır. Bu işlem, mevcut indeksi sıfırlar ve bir dizi ardışık sayıyı yeni indeks olarak atar.

* İndexi "kod" sütunu olarak ayarlamıştık. Varsayılan index değerine geri döndürelim.

In [324]:
df3.reset_index(inplace=True)
df3.head()

,Kod,Hisse Adı,Sektör,Kapanış(TL),Piyasa Değeri(mn TL),Piyasa Değeri(mn $),Halka AçıklıkOranı (%),Sermaye(mn TL)
0,A1CAP,A1 Capital,Aracı Kurumlar,26.80,3618.0,138.7,25.9,135.0
1,ACSEL,Acıselsan Acıpayam Selüloz,Kimyasal Ürün,84.25,903.3,34.6,51.8,10.7
2,ADEL,Adel Kalemcilik,Kırtasiye,245.00,5788.1,221.8,27.7,23.6
3,ADESE,Adese AVM,Perakande - Ticaret,1.62,1633.0,62.6,92.9,1008.0
4,AEFES,Anadolu Efes,Meşrubat / İçecek,70.85,41950.7,1607.8,32.9,592.1

### **6.5. İndekslerin Sıralanması: sort_index()**

Pandas'ta, veri çerçevesindeki indekslerin sıralanması için sort_index() yöntemi kullanılır. Bu yöntem, indekslerin sıralanmasını belirli bir sıra veya kriter doğrultusunda gerçekleştirir.

Artan sıraya göre aşağıdaki gibi sıralayabiliriz. Azalan sıraya göre sıralamak için `ascending` parametresini "False" olarak belirtmeliyiz.

In [325]:
df.sort_index().head()

,Kod,Hisse Adı,Sektör,Kapanış(TL),Piyasa Değeri(mn TL),Piyasa Değeri(mn $),Halka AçıklıkOranı (%),Sermaye(mn TL)
0,A1CAP,A1 Capital,Aracı Kurumlar,26.80,3618.0,138.7,25.9,135.0
1,ACSEL,Acıselsan Acıpayam Selüloz,Kimyasal Ürün,84.25,903.3,34.6,51.8,10.7
2,ADEL,Adel Kalemcilik,Kırtasiye,245.00,5788.1,221.8,27.7,23.6
3,ADESE,Adese AVM,Perakande - Ticaret,1.62,1633.0,62.6,92.9,1008.0
4,AEFES,Anadolu Efes,Meşrubat / İçecek,70.85,41950.7,1607.8,32.9,592.1

In [326]:
df.sort_index(ascending=False).head()

,Kod,Hisse Adı,Sektör,Kapanış(TL),Piyasa Değeri(mn TL),Piyasa Değeri(mn $),Halka AçıklıkOranı (%),Sermaye(mn TL)
508,ZRGYO,Ziraat GYO,GYO,4.67,21919.2,840.1,18.9,4693.6
507,ZOREN,Zorlu Enerji,Elektrik,3.50,17500.0,670.7,30.0,5000.0
506,ZEDUR,Zedur Enerji,Elektrik,49.80,1245.0,47.7,38.6,25.0
505,YYLGD,Yayla Agro Gıda,Gıda,31.32,14801.8,567.3,15.0,472.6
504,YYAPI,Yesil Yapi,İnşaat- Taahhüt,2.72,875.0,33.5,72.2,321.7

In [327]:
df.reset_index(inplace=True)

## **7) Filtreleme**

Pandas'ta, veri çerçevesinden belirli bir koşula veya kriterlere uyan verileri seçme işlemine "filtreleme" denir. Bu işlem, veri setinden istenmeyen verileri kaldırmak veya belirli bir şartı sağlayan verileri seçmek için kullanılır.

### **7.1 Tekli Filtreleme: İç içe ve loc**

Pandas'ta, tekli filtreme yapmak için genellikle iç içe geçmiş koşullar veya loc kullanılır. Bu yöntemlerle, birden fazla koşulu tek bir ifadeyle birleştirebiliriz.

* "Sektör" sütununun "Bankacılık" olduğu değerleri filtreleyelim.

In [328]:
df[df["Sektör"] == "Bankacılık"].head()

,index,Kod,Hisse Adı,Sektör,Kapanış(TL),Piyasa Değeri(mn TL),Piyasa Değeri(mn $),Halka AçıklıkOranı (%),Sermaye(mn TL)
10,10,AKBNK,Akbank,Bankacılık,20.46,106392.0,4077.6,51.8,5200.0
23,23,ALBRK,Albaraka Türk,Bankacılık,3.10,7750.0,297.0,38.4,2500.0
184,184,GARAN,Garanti Bankası,Bankacılık,33.10,139020.0,5328.0,14.0,4200.0
210,210,HALKB,Halkbank,Bankacılık,13.08,93976.9,3601.7,8.5,7184.8
221,221,ICBCT,ICBC Turkey Bank,Bankacılık,8.56,7361.6,282.1,7.2,860.0

* "Sektör" değeri "Bankacılık" olan verilerin "Kod" sütunundaki değerlerini yazdıralım.

In [329]:
df[df["Sektör"] == "Bankacılık"]["Kod"].head()

10     AKBNK
23     ALBRK
184    GARAN
210    HALKB
221    ICBCT
Name: Kod, dtype: object

In [330]:
df.set_index("Kod", inplace=True)

* ``loc`` yöntemiyle de tekli filtreme yapabiliriz. "Sektör" değeri "Bankacılık olan verilerin "Halka AçıklıkOranı (%)" değerlerini yazdıralım.

In [331]:
df.loc[df["Sektör"] == "Bankacılık", "Halka AçıklıkOranı (%)"]

Kod
AKBNK    51.8
ALBRK    38.4
GARAN    14.0
HALKB     8.5
ICBCT     7.2
ISATR    23.9
ISBTR    25.7
ISCTR    32.6
ISKUR    28.7
KLNMA     0.9
QNBFB     0.1
SKBNK    48.8
TSKB     38.8
VAKBN     6.1
YKBNK    32.0
Name: Halka AçıklıkOranı (%), dtype: float64

### **7.2. Çoklu Filtreleme: &, | ve isin()**

Pandas'ta, çoklu filtreme işlemleri için ``&`` (ve), ``|`` (veya) operatörleri ve ``isin()`` yöntemi kullanılır. Bu yöntemlerle birden fazla koşulu birleştirebiliriz ve istenilen verileri seçebiliriz.

#### **7.2.1 Mantıksal Operatörler**

Birden fazla filtreleme yapmak istediğimizde mantıksal operatörleri kullanabiliriz.

* Örneğin, hem Sektör sütunundan Bankacılık değerini hem de Halka AçıklıkOranı (%) sütunundan 10'den büyük olanları alalım ve Hisse Adı sütunundaki değerleri getirelim.

In [332]:
df.loc[(df["Sektör"] == "Bankacılık") & (df["Halka AçıklıkOranı (%)"] > 10), "Hisse Adı"]

Kod
AKBNK                Akbank
ALBRK         Albaraka Türk
GARAN       Garanti Bankası
ISATR        İş Bankası (A)
ISBTR        İş Bankası (B)
ISCTR        İş Bankası (C)
ISKUR     İş Bankası Kurucu
SKBNK             Şekerbank
TSKB                   TSKB
YKBNK    Yapı Kredi Bankası
Name: Hisse Adı, dtype: object

* Burada, her bir filtreleme işlemini parantez içerisine aldık. Örnekte, ve anlamına gelen & operatörünü kullandık. Bir de veya anlamına gelen | operatörünü kullanalım.

In [333]:
df.loc[(df['Sektör'] == 'Bankacılık') | (df['Halka AçıklıkOranı (%)'] > 50), 'Hisse Adı']

Kod
ACSEL    Acıselsan Acıpayam Selüloz
ADESE                     Adese AVM
AKBNK                        Akbank
AKSUE                   Aksu Enerji
AKYHO       Akdeniz Yatırım Holding
                    ...
YESIL         Yeşil Yatırım Holding
YGGYO                Yeni Gimat GYO
YGYO                      Yeşil GYO
YKBNK            Yapı Kredi Bankası
YYAPI                    Yesil Yapi
Name: Hisse Adı, Length: 165, dtype: object

* `&` kullandığımız örnekte elde ettiğimiz verinin tam tersini elde etmek için başına ``~`` işareti koyalım. Elde edeceğimiz çıktı "Sektör" değeri "Bankacılık" olmayan ve "Halka AçıklıkOranı (%)" değeri 10 dan küçük olan veriler olacaktır.

In [334]:
df.loc[~(df['Sektör'] == 'Bankacılık') & ~(df['Halka AçıklıkOranı (%)'] > 10), 'Hisse Adı']

Kod
AKMGY                     Akmerkez GYO
ARMDA                Armada Bilgisayar
AYCES                 Altınyunus Çesme
BANVT                           Banvit
BASCM    Baştaş Başkent Çimento Sanayi
CLEBI                           Çelebi
CMENT                         Çimentaş
DAPGM                  Dap Gayrimenkul
DGGYO                     Dogus GE GYO
DOKTA                Döktaş Dökümcülük
ENKAI                      Enka İnşaat
GARFA           Garanti BBVA Faktoring
ISDMR           İskenderun Demir Çelik
KENT                         Kent Gıda
MRSHL                         Marshall
QNBFL             QNB Finans Fin. Kir.
RAYSG                      Ray Sigorta
SNPAM                   Sönmez Pamuklu
SONME                  Sönmez Filament
TBORG                           Tuborg
UFUK          Ufuk Yat.Yön.ve Gay. AŞ.
ULUSE                  Ulusoy Elektrik
YBTAS         Yibitaş İnş. Malzemeleri
Name: Hisse Adı, dtype: object

#### 7.2.2 isin() Kullanımı

``isin()`` yöntemi, bir sütunun belirli değerlere sahip olup olmadığını kontrol eder.

In [335]:
df_sektor = df.loc[df["Sektör"].isin(['GYO','Bankacılık'])]
df_sektor.head()

,index,Hisse Adı,Sektör,Kapanış(TL),Piyasa Değeri(mn TL),Piyasa Değeri(mn $),Halka AçıklıkOranı (%),Sermaye(mn TL)
Kod,,,,,,,,
AGYO,8,Atakule GYO,GYO,5.41,1424.7,54.6,18.3,263.3
AKBNK,10,Akbank,Bankacılık,20.46,106392.0,4077.6,51.8,5200.0
AKFGY,13,Akfen GYO,GYO,4.65,6045.0,231.7,44.5,1300.0
AKMGY,16,Akmerkez GYO,GYO,83.40,3107.8,119.1,8.9,37.3
AKSGY,19,Akis GYO,GYO,6.21,4999.1,191.6,44.7,805.0